[2020-09-08 19:10] ManojGoel2020 opened #1013 "Can't install Kuma .71 on MacOS Mojave"
### Summary

I have been trying to install Kuma 0.71 on Mac OS Mojave but the image does not get pulled

kubectl get pod -n kuma-system
NAME                                  READY   STATUS             RESTARTS   AGE
kuma-control-plane-78b89c455f-tg6md   0/1     ImagePullBackOff   0          131m

This is prohibiting me from installing other Service Mesh systems as it is stuck with Kuma system issu

[2020-09-09 08:20] jakubdyszkiewicz commented on #1013
Hey @ManojGoel2020 thanks for trying Kuma.

Do you run this in Minikube or on some cloud? It seems like you cannot pull the image. The image is up in the repo
[code]

[2020-09-09 09:38] sudeeptoroy commented on #1006
This worked... 👍

[2020-09-09 10:27] sudeeptoroy commented on #951
It helps debugging and development phase. we would have a defined config and we would know there are 'n' numbers of Dataplane instances for it.

Also touching a VM is a costly activity. A VM is stable if it has a stable config and less moving parts installed on it. For example: Dataplane definitions has continued to change over kuma releases. In fact config definitions will continue to change. Kum

[2020-09-10 01:48] subnetmarco commented on #1013
@ManojGoel2020 in certain instances you may be running in restricted environment where docker repository have to be explicitly allowed. Just make sure you can pull from `kong-docker-kuma-docker.bintray.io` like @jakubdyszkiewicz explained.

[2020-09-10 02:10] ManojGoel2020 commented on #1013
First I tried pulling from docker source - kong-docker-kuma-docker.bintray.io , but could not. It is a restricted environment as you guessed. But then I was using curl command to get Kuma, which it did install , when run kumactl it does not get image. So same affect. Is there a proxy or something we have to set to pull image? I installed easily on my own personal laptop but I have less memory only

[2020-09-11 09:17] nikita15p opened #1016 "kumactl support for logs"
### Summary

SUMMARY_GOES_HERE
kumactl does not have logs feature. It should add support for log stdout and filesystem to start with.

### Steps To Reproduce
NA

### Additional Details & Logs

- Version NA
- Error logs NA
- Configuration NA
- Platform and Operating System NA

[2020-09-11 09:18] jakubdyszkiewicz commented on #1016
Hey @nikita15p what exactly logs do you have in mind? Are you talking about TrafficLog? Or logs of kumactl binary?

[2020-09-11 09:19] jewertow commented on #1011
Hi, I would like to work on this issue.

[2020-09-11 09:21] nikita15p commented on #1016
@jakubdyszkiewicz kumactl binary

[2020-09-11 09:29] jakubdyszkiewicz commented on #1011
Great, let me know if you have any questions @jewertow

[2020-09-11 09:42] jakubdyszkiewicz commented on #1016
kumactl produce all the output to the stdout. This is how you interact with CLI tool. There are no logs aside from this.

Can you describe a little bit more your use case? Thanks!

[2020-09-11 10:19] nikita15p commented on #1016
Yes, so we can direct the output to any number of different locations by adding some flags --log_target for eg. Also other features like level of logs ie warning, error /info can be added via --log_level. ALso we can provide log rotation feature as well.

[2020-09-11 11:06] jakubdyszkiewicz commented on #1016
`kumactl` does not produce any logs at all. We just push the data on the stdout and if there is an error on stderr. So when you do `kumactl get meshes` we build a response and push on stdout. It's not a log. If you want to push this response to a file you could do `kumactl get meshes >> /tmp/kumactl-output`.
Those responses do not have levels.

I don't believe that for example `kubectl` offers suc

[2020-09-15 05:30] nickolaev commented on #1002
Just tested that and it works as expected for me:

[code]
[code]

[code]

[code]

Can you please recheck the latest master and ensure you have the proper `kumactl` version.

[2020-09-15 10:36] #882 closed

[2020-09-15 13:06] #1016 closed

[2020-09-15 14:26] sudeeptoroy opened #1019 "support for --log-target=<target> to kuma-cp and kuma-dp"
Need support for re-directing output of kuma components to number of different location like filesystem or network port.
This would help to integrate with several log processor like fluentbit, vector with sidecar pattern.
For example: https://vector.dev/docs/setup/deployment/strategies/#sidecar

[2020-09-15 16:02] nickolaev opened #1020 "Merge `kumactl install ingress` in the main `kumactl install control-plane`"
### Summary

#989 merged the generic `kumactl install control-plane` and the Helm Charts, replacing the old templates and relying on the Helm to render the charts at `kumactl` execution time. The Helm Charts also do support the `ingress` deployment, which allows merging this functionality to `kumactl install control-plane` I would suggest a new flag `--ingress` and them migrate the relevant option

[2020-09-15 16:07] austince commented on #1020
Looks good to me, and can start work on this Monday 9/21.

[2020-09-15 21:27] subnetmarco commented on #1013
To determine if you need - or not - a proxy is being determined by your networking environment. The distribution is available on the open internet at `kong-docker-kuma-docker.bintray.io`.

You can take a look at the [kuma-demo](https://github.com/kumahq/kuma-demo) repository which demonstrates many features.

Not sure I understand what you are looking to do via the UI. In Kuma the UI is read-only

[2020-09-16 14:23] jakubdyszkiewicz opened #1023 "Zone is mesh-scoped"
### Summary

Zone resource lives in the default Mesh right now. That can confuse users that they need to create Zone per mesh.
Additionally, investigate what happens when there is no default Mesh?

From the code standpoint, there should be a way to mark a resource as mesh independent.

Acceptance criteria: Zone is not bound to a Mesh

[2020-09-16 15:54] bloqhead commented on #1002
Thanks @nickolaev. Let me double check and make sure I have the latest kumactl. I will get back to you today.

[2020-09-16 18:48] sudeeptoroy opened #1024 "Reduce the application downtime via hot-restart of envoy"
The use case is to upgrade kuma-dp and envoy on a traffic serving VM. To reduce the application downtime, hot restart of envoy may be needed.

[2020-09-17 08:52] sudeeptoroy commented on #724
This will be beneficial for universal as well.

[2020-09-17 19:18] aubm opened #1030 "Support for consistent hash based load balancing"
### Summary

The feature is [supported by Istio](https://istio.io/latest/docs/reference/config/networking/destination-rule/#LoadBalancerSettings) and it can be useful when deploying stateful services like web servers with in-memory session storage.

[2020-09-17 19:22] sudeeptoroy opened #1031 "TrafficMirror for separate backend"
In continuation to what is proposed in #724, support for mirroring traffic to a separate backend will be a good addition.

[2020-09-19 14:59] subnetmarco opened #1033 "Rename MULTICLUSTER environment variables to MULTIZONE"
Ie, `KUMA_MULTICLUSTER_REMOTE_ZONE` becomes `KUMA_MULTIZONE_REMOTE_ZONE` and so on.

Also, update documentation.

[2020-09-21 15:49] #1002 closed

[2020-09-21 19:03] jewertow commented on #1011
@jakubdyszkiewicz
I implemented subtasks 1 and 2 (https://github.com/kumahq/kuma/pull/1037) and now I want to expose this control plane identifier for Kuma GUI, but as I am new contributor I need a hint where should I add this information?

[2020-09-24 10:05] YuikoTakada opened #1039 "failed calling webhook mesh.defaulter.kuma-admission.kuma.io, x509 certificate error with kubernetes v1.19.2"
### Summary

I have been trying to install Kuma 0.7.1 on minikube on CentOS 7 following to https://kuma.io/docs/0.7.1/installation/kubernetes/ but with below step, error occurs.
[code]
error message:
[code]
[code]
There is no SAN in X509v3 extensions, that's why x509 certificate error occurs, I suggest.

### Additional Details & Logs
- Version
[code]
[code]
- Error logs
- Configuration
- Platform

[2020-09-24 13:50] #795 closed

[2020-09-28 08:02] jakubdyszkiewicz commented on #1039
Hey,

thank you for reporting it. It is fixed in master now, since we generate one cert for every server that has SAN.

[2020-09-29 04:57] YuikoTakada commented on #1039
Thanks. I'll check it and close this.

[2020-09-29 07:22] #1020 closed

[2020-09-29 14:15] nickolaev commented on #961
The discussion was held in this issue:
https://github.com/prometheus/prometheus/issues/7919

But in the end is closed in favor of https://github.com/prometheus/prometheus/issues/6484. Shall we continue there?

[2020-09-29 14:40] austince commented on #961
I think we should continue on the dev mailing list [here](https://groups.google.com/forum/#!topic/prometheus-developers/w2F6gxYW8U8). I haven't had time to try to revive it, but have left my ideas for what we'll need to do in  https://github.com/prometheus/prometheus/issues/7919#issuecomment-694254880

[2020-10-01 04:42] #1039 closed

[2020-10-08 09:58] #359 closed

[2020-10-08 10:02] jakubdyszkiewicz commented on #554
Closing, this is essentially our new Dataplane lifecycle. You can now pass a Dataplane to `kuma-dp run` with placeholders that you fill with arguments.

[2020-10-08 10:02] #554 closed

[2020-10-08 10:04] jakubdyszkiewicz commented on #333
Now it's possible with multizone capabilities. You can have Remote CP on Kubernetes and on VMs and manage them with Global CP.

[2020-10-08 10:04] #333 closed

[2020-10-08 10:05] jakubdyszkiewicz commented on #285
It does now in 1.0-rc1! Also with Grafana dashboards

[2020-10-08 10:05] #285 closed

[2020-10-08 11:00] tharun208 commented on #132
I am working on this

[2020-10-08 11:02] jakubdyszkiewicz opened #1056 "Warning in the GUI that Dataplane/Control Plane rejected configs"
### Summary

In Kuma, we follow the number of updates, ACK and NACKs on ADS stream in the object called DataplaneInsights.
Right now in the GUI we show `Total Updates`. When there are any updates that were rejected by Envoy, we should show this to user. In total updates cell this can be either
1) a warning sign so: 3 ⚠️
2) 3 (1 rejected)
When user hoover mouse over this we should see "Some configu

[2020-10-08 11:35] subnetmarco commented on #1056
I like the idra

[2020-10-08 11:35] subnetmarco commented on #1056
I like the idea

[2020-10-08 11:36] subnetmarco commented on #333
Link to docs: https://kuma.io/docs/latest/documentation/deployments/#usage

[2020-10-08 14:33] tharun208 commented on #132
one limitation is we cannot use `templating` on multiple resources

[2020-10-08 15:18] austince opened #1059 "Claim Repository in Artifact Hub"
### Summary
[hub.helm.sh](https://hub.helm.sh) has unfortunately [been deprecated](https://github.com/helm/hub/#%EF%B8%8F-notice-redirect-to-artifact-hub), though the platform overtaking it, [artifacthub.io](https://artifacthub.io), is quite nice and is more of a unified cloud-native artifact search instead of just helm charts.

The kuma charts have already been migrated to artifact hub [here](htt

[2020-10-10 22:44] #1059 closed

[2020-10-11 07:00] tharun208 commented on #1056
I like this idea and implemented it with showing the `totalRejections` along with the warning text we show on during mouse hover.

[2020-10-12 13:46] tharun208 commented on #1056
@jakubdyszkiewicz @bloqhead

[2020-10-13 08:26] jakubdyszkiewicz opened #1068 "DB connection metric"
### Summary

Expose metrics with Postgres stats
https://golang.org/src/database/sql/sql.go?s=29131:29944#L1053

[code]

I'm a bit hesitant to put a Pane with a builtin Kuma CP dashboard because most of the deployments are Kubernetes so this chart will be empty and unnecessary. I think just exposing these stats and having it in Prometheus is enough.

[2020-10-13 09:46] jakubdyszkiewicz opened #1071 "Block editing Dataplane resources by users"
### Summary

Provide built-in RBAC if possible (or at least docs) so only Kuma System (and admins of course) can edit Dataplane resources on Kubernetes.

[2020-10-14 15:29] #1056 closed

[2020-10-15 13:37] jakubdyszkiewicz opened #1081 "Cleaner logs when Remote CP goes down"
### Summary

Right now we see
[code]

But this should not be an error. Remote CP just disconnected.

[2020-10-16 08:27] #132 closed

[2020-10-19 13:51] jakubdyszkiewicz opened #1093 "Traffic outside of the cluster pane in Grafana"
### Summary

With the new passthrough off switch on the Mesh, we can lock the traffic to the mesh only. This is a really nice security improvement, but it's hard to just switch it on the live system.

We could introduce "traffic outside of the cluster" to the Mesh dashboard (and Dataplane too). This way, the Mesh operator will know if they can switch it off or if there is still some traffic to inc

[2020-10-21 09:56] jakubdyszkiewicz opened #1096 "VIP outbounds on Kubernetes + Standalone should be opt-in"
### Summary

In 99% cases, users using Kubernetes on Standalone won't use `.mesh`, because they want to leverage builtin Kubernetes naming, but we still do the work of managing VIPs and generating outbound listeners for those VIPs (which means double of outbound listeners).

Right now user may want to use it for external service, but this should be gone with support for ExternalName type of the Se

[2020-10-21 20:16] subnetmarco opened #1097 "Supporting W3C Trace Context for tracing"
https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/trace/v3/opencensus.proto.html?highlight=w3c#enum-config-trace-v3-opencensusconfig-tracecontext

[2020-10-22 06:55] tharun208 commented on #1068
I can pick this up.

[2020-10-22 12:51] jakubdyszkiewicz commented on #879
The team decided for uppercase log messages

[2020-10-22 14:03] #1012 closed

[2020-10-23 09:00] jakubdyszkiewicz opened #1105 "HELM chart versioning"
I want to start a thread about HELM chart versioning. Would be great to have some rules for it.

### Requirements
* Maintain the chart for different versions of Kuma (1.1.x release, 1.0.x release, 1.0-rc releases?)
* Make it clear to users when it is a breaking change
* Release new version of chart without releasing new version of Kuma

### Info
https://helm.sh/docs/topics/charts/#charts-and-versi

[2020-10-24 01:18] huangkaiyan10 opened #1109 "How do I use kuma on the intranet that Can't connect to the internet . Because DP (data-plane) dynamically inject into my services pod, I cannot set up to pull DP (data-plane) docker images from my private mirror warehouse harbor."
How do I use kuma with kubernetes on the intranet that Can't connect to the internet . Because DP (data-plane) dynamically inject into my services pod, I cannot set up to pull DP (data-plane) docker images from my private mirror warehouse harbor.

[2020-10-24 16:24] nickolaev commented on #1109
I have noted your other issue in `kuma-demo`, pasting my answer here for completeness:

Please check [`docker save`](https://docs.docker.com/engine/reference/commandline/save/) and [`docker load`](https://docs.docker.com/engine/reference/commandline/load/).

[2020-10-26 11:24] jakubdyszkiewicz opened #1112 "Kuma DP + Envoy version in Dataplane Insights"
### Summary

We would like to collect info about Kuma DP + Envoy version and present it in the GUI. This information help us improve upgrade UX and other.

To do this, we need to collect this info and store in DataplaneInsights, so the steps are
1) Extend DataplaneInsight with a new field (this should be on DiscoverySubscription because one data plane of the same name can reconnect with a differen

[2020-10-26 14:41] austince commented on #1105
Thanks for starting this thread Jakub! The questions you've posed are great and seem to center around making the chart as straightforward as possible to users.

If we can keep the chart version semantics as if it were truly its own deployment, where new breaking parameters are major, non-breaking are minor, and fixes are patches, that might be both easiest to maintain and to understand as a user.

[2020-10-27 15:04] jakubdyszkiewicz opened #1116 "kumactl install HELM-like"
### Problem

Right now we've got 2 ways of install control plane on Kubernetes
1) kumactl install control-plane parametrized by CLI args
2) HELM parametrized by `--set key=value` or Values file.

As Kuma grows, it's clear that we need more and more settings. Recently we moved to HELM templates to have a single source of truth about parameters, but the way of parametrizing is different.

Adding new

[2020-10-27 17:44] jakubdyszkiewicz opened #1117 "Add option to install Kubernetes Ingress for CP when installing Kuma CP"
### Summary

It is common practice to help users automatically create Kubernetes Ingress object for exposing the application.
Here is an example of this approach https://github.com/Kong/charts/blob/main/charts/kong/values.yaml#L215

The tricky part - `Ingress` terminology overlaps with our Ingress for Multicluster communication.

This is especially useful for the GUI and the api.

[2020-10-28 15:49] austince commented on #257
Hey @dhruv, what specific features are you looking for in an operator? Managing multi-zone deployments? Or just something that integrates with the Operator Framework like the [operator-registry](https://github.com/operator-framework/operator-registry)? There's been talk in the community about trying to find the pain points of installing/ managing kuma, so any details you can add would be great!

[2020-10-29 22:10] subnetmarco commented on #683
Is this issue still open @jakubdyszkiewicz ?

[2020-10-29 22:10] #1109 closed

[2020-10-30 08:49] jakubdyszkiewicz commented on #683
Yes. Technically it's done, we require mesh now because we are setting owners of objects, but the error msgs can be better.

empty mesh
[code]

mesh that not exist
[code]

[2020-10-30 12:27] rymcol opened #1119 "TCP/gRPC Tracing [Question/Feature Request]"
### Summary

Currently traces only emit for HTTP. A while back it was mentioned that L7 and tracing was a focus for 0.4.x releases, but it seems like tracing for non-http protocols never made the priority list (https://github.com/kumahq/kuma/issues/548)

### Steps To Reproduce

1. Try to add tracing on anything but HTTP

### Additional Details & Logs

- None

[2020-10-30 12:28] rymcol commented on #1119
I'm mostly curious if this is WIP or if this is something that is not a focus for a while if anyone has any info, because it will help me make platform decisions

[2020-10-30 12:43] jakubdyszkiewicz commented on #1119
Hey!

Envoy, for now, supports tracing for HTTP only https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/trace/v3/http_tracer.proto#envoy-v3-api-msg-config-trace-v3-tracing-http

I might be missing something, but I haven't seen tracing with TCP yet. How would you carry tracing data with TCP? There are no metadata headers to pass spans, trace-id etc. Can you give an example of such system?

T

[2020-10-30 13:01] rymcol commented on #1119
Yeah, I was thinking more about gRPC, but it would need to be Proto-aware and manage the TLS, which is probably technically feasible, but too many tons of work

[2020-10-30 13:01] #1119 closed

[2020-10-30 18:09] austince commented on #1116
This sounds great!

[2020-11-02 07:53] nickolaev commented on #184
Fixed by #1115

[2020-11-02 07:53] #184 closed

[2020-11-03 13:20] jakubdyszkiewicz opened #1124 "Kuma DNS as a part of HELM chart"
### Summary

Plugging Kuma DNS into the Kubernetes cluster relies on reading the type of DNS installed on the cluster as well as ClusterIP of Kuma Control Plane service. That was the reason it was not included in HELM.

However, we could create a HELM post-install hook that installs DNS into the cluster (hook is a job that can fetch kumactl and do this operation for the user). This way
* User does

[2020-11-04 08:15] #1033 closed

[2020-11-04 13:45] nickolaev opened #1126 "`kumactl install dns` assumes `kuma-system` namespace"
This will break badly on non-default installations

[2020-11-04 15:54] jakubdyszkiewicz commented on #878
Done with #1111

[2020-11-04 15:54] #878 closed

[2020-11-09 06:14] #1126 closed

[2020-11-09 09:19] ludov04 commented on #555
Hey team!
Now that #554 is closed, would this be a good time to bump this up?

We are implementing kuma on ECS, and our squads heavily use gitops with terraform to create resources in aws and in other places. This would greatly simplify the management of kuma resources by the squads for us, as this can integrate into the existing worflow.

[2020-11-09 10:45] jakubdyszkiewicz opened #1132 "Kubernetes: Dataplanes join and leave mesh gracefully"
### Summary

When a new Pod is created it joins a Mesh too soon, we don't wait that the Pod is ready and healthy. The same situation is when we take a Pod down.

Ideas:
1) Do not generate Dataplane unless Pod is healthy. Remove Dataplane when Pod is unhealthy.
2) Extend Dataplane model with a flag that DP can be used to route the traffic.

[2020-11-09 10:57] nickolaev commented on #555
@ludov04 since your team already has the expertise with Terraform, maybe you can start some work around this, which we can review together and support you with what is needed on the Kuma side.
We already provide ECS CloudFormation examples which I guess might be some form of a guideline of what might be needed here: https://github.com/kumahq/kuma/tree/master/examples/ecs

[2020-11-09 11:43] jakubdyszkiewicz opened #1134 "Multizone Kubernetes: Wait for Service to be ready to start KDS"
### Summary

When we start Remote CP it immediately connects the Global syncing resources. Service is not yet ready therefore validation webhook on Remote fails. Global of course retries sending resources so they are created eventually when Service is ready but we see errors in the code

Related to https://github.com/kumahq/kuma/issues/1001

[2020-11-09 14:25] jakubdyszkiewicz opened #1137 "Set owners for Secrets"
### Summary

Currently, we set owners for all resources. For example, when TrafficPermission is created, its owner is the Mesh. When Mesh is deleted TrafficPermission is also deleted. Secrets should follow the same mechanism. Right now, we are deleting them explicitly when we are deleting the mesh.

[2020-11-09 14:59] jakubdyszkiewicz opened #1138 "Signing Key for Dataplane Tokens is bound to a default Mesh"
### Summary

Signing Key for a Dataplane Tokens that is created automatically is bound to a default Mesh.
Technically it works because we bypassed mesh validation for creating it, but it's not a great solution. If someone deletes default mesh, signing key is also deleted.

We need to either
1) Introduce Secrets that are not scoped to a Mesh
As far as I remember, Marco had objections to this approa

[2020-11-10 09:19] #1023 closed

[2020-11-10 14:24] ludov04 commented on #555
Hey @nickolaev, we do have experience with Terraform, but we have no experience with Go at all.

We did create all the resources needed for kuma using terraform, which in indeed analogous to what your team has provided with the Cloudformation example.

This story however is about having a terraform provider for kuma, to be able to define kuma resources like a "Mesh", or policies, using terraform.

[2020-11-11 14:22] sudeeptoroy opened #1145 "rename argument cp-address to dp-address for kuma-dp run command"
kuma-dp run \
  --name=backend-1 \
  --mesh=default \
  --cp-address=https://127.0.0.1:5678 \
  --dataplane-token-file=/tmp/kuma-dp-backend-1-token

earlier kuma-dp had --cp-address as an argument but now it is changed to point to dp server. This is not very intuitive. I would suggest this to be changed to --dp-address

[2020-11-11 18:49] sudeeptoroy opened #1146 "Scaling prometheus as data planes scales"
For universal mode, prometheus-sd does end point discovery with control plane and prometheus scrape the data plane.
As more data planes continue to join the mesh prometheus might need to scale. Additionally it would be a good idea to shard the prometheus instance to take care of scaling data planes.
Do you have any recommendations for such scenario?

[2020-11-12 13:26] jakubdyszkiewicz commented on #1145
Hey,

I don't think that
[code]
is intuitive. Kuma DP does not connect to Kuma DP, but to Kuma CP. I also don't think the fact that Kuma DP connects to the Kuma CP on the CP management port and then reconnect to another server was intuitive and easy to understand.

I understand this is a breaking change and might be frustrating, but the upcoming release is huge and we strive to simplify Kuma as mu

[2020-11-12 19:07] sudeeptoroy commented on #1145
Hi @jakubdyszkiewicz , sure kuma-dp does not connect to kuma-dp but it does connect to kuma-cp on dp-server's address now.
Again kumactl connect to kuma-cp on api server.
Both of them uses --cp-address as an argument. Ita very confusing. The new changes are definitely welcoming. If the argument is charged to something which is easy to understand will really help.

[2020-11-13 12:53] jakubdyszkiewicz opened #1151 "Set owner of synced resources from Remote to Zone resource"
### Summary

In Kuma, we've got an owner mechanism. Ex. When you create TrafficPermission, we set an owner to a Mesh, so when you delete the Mesh, the TrafficPermission is also deleted.

When we sync Resources from Remote to Global (only Dataplanes for this moment) we should set the owner to the Zone resource that was created in Global when Remote connected. This way, when we delete Zone resource,

[2020-11-13 15:07] nickolaev commented on #1105
But, what if we need to bump the chart and not the App itself

[2020-11-13 15:30] #771 closed

[2020-11-16 13:49] wahmedswl opened #1160 "Feature Request > Sqlite"
### Summary

Postgres is good for production grade cluster but for staging/non-critical environments, its bit hurdle. It would be great if Sqlite etc is supported for zero-config setup or atleast configuration can be provided via files etc and persisted during restarts.

Thanks

[2020-11-16 16:07] #1138 closed

[2020-11-16 18:40] nickvdyck commented on #555
Hey, we had another look at creating a Terraform provided for Kuma and agree that it shouldn't be too hard for us to get something up and running. We leverage Terraform quite heavily at Datacamp and would benefit a lot from having it available in our toolbelt. And thus I think it would make sense for us to take a stab at this. We would appreciate some reviews or general support given golang knowle

[2020-11-16 18:57] subnetmarco commented on #555
We would love to publish this as one of the official installation methods once it's ready.

[2020-11-17 06:33] huo4444 opened #1164 "why not implement the gateway. base on envoy. no need kong/nginx thirdparty gateway"
why not implement the gateway. base on envoy.  no need kong/nginx thirdparty gateway

[2020-11-17 09:32] jakubdyszkiewicz opened #1165 "Use MeshInsights for resource counter metric"
### Summary

This metric https://github.com/kumahq/kuma/blob/master/pkg/metrics/store/counter.go should rely now on MeshInsights. This will provide us lower latency of metrics as well as better performance.

[2020-11-17 09:33] #1081 closed

[2020-11-17 15:30] nickolaev opened #1166 "make check -C api fails on master"
[code]

[2020-11-17 19:12] austince commented on #1105
Coming from closed PR https://github.com/kumahq/kuma/pull/1152, here is a good example of releasing an app and charts in the same github repo: https://github.com/kubernetes/autoscaler/releases

[2020-11-18 04:57] matthewhembree opened #1167 "Universal dataplane wizard gives incorrect cp-address"
### Summary

Universal dataplane wizard gives incorrect cp-address for the `kuma-dp` command snippet.

### Steps To Reproduce

1. Install basic Kuma CP https://kuma.io/docs/1.0.0/installation/macos/
2. Run the Universal dataplane wizard http://localhost:5681/gui/#/wizard/universal-dataplane?step=4
3. The resulting code snippet is incorrect;
[code]

It should be generated as:
[code]
`cp-address` Sh

[2020-11-20 02:01] subnetmarco commented on #724
@jakubdyszkiewicz I believe that with 1.0 this is now unblocked since we can use `*` in the destinations, correct?

[2020-11-20 12:41] jakubdyszkiewicz commented on #1166
solved

[2020-11-20 12:41] #1166 closed

[2020-11-20 13:42] jakubdyszkiewicz opened #1189 "Kuma DP adds own interpretation of Envoy logs"
### Summary

Envoy logs are sometimes hard to interpret for non-Envoy veterans.

Things like
[code]

or
[code]

or how to indicate if Envoy has started and received the config?

Kuma DP could intercept some logs of Envoy and produce additional logs that are more user friendly.

[2020-11-21 11:33] yangvipguang opened #1191 "trafficroute based on header"
I want to know does  kuma support trafficroute based on header ?

[2020-11-23 01:54] hakeemsyd opened #1193 "Unable to connect kuma dataplane with a control plane running on another machine"
### Summary
I am starting a kuma controlplane on an ec2 instance on aws. The instance has a public ip address and i verified that controlplane has opened port 5678 (by telnet).
I am unable to start a dataplane that can connect to controlplane running on ec2 instance on aws.

### Steps To Reproduce

1. Start up a data plance on aws ec2 instance.
2. Enable inbound connections to port 5678 on ec2 ins

[2020-11-23 09:06] jakubdyszkiewicz commented on #724
No, nothing changed in terms of having _multiple_ tags in destinations

[2020-11-23 14:07] tharun208 commented on #621
@jakubdyszkiewicz do we need this on our default accesslog ?

[2020-11-23 14:26] jakubdyszkiewicz opened #1200 "Config rejection with tracing"
The problem is that the listeners which are delivered first looks for a cluster for tracing

[code]

but the cluster is delivered immediately after that so after a few back and forth, it works.
This results in incrementing config rejected counter which we show in the GUI.

[2020-11-23 14:52] #1167 closed

[2020-11-24 13:32] #1068 closed

[2020-11-24 13:45] tharun208 commented on #621
@nickolaev I like to work on this !

[2020-11-24 15:42] jakubdyszkiewicz opened #1207 "HELM: Horizontal Pod Autoscaler"
### Summary

Following Kong example, HELM should expose HPA
https://github.com/Kong/charts/blob/main/charts/kong/templates/hpa.yaml

[2020-11-25 20:09] arctiqgreg opened #1216 "Kuma admission controller rejects specs with non-numerical probe ports. Causing issues with Kong's helm chart."
### Summary

Kuma admission controller rejects specs with non-numerical probe ports.
Using a named port is officially supported :
https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#use-a-named-port

### Steps To Reproduce

kubectl create namespace kong
kubectl annotate namespace kong kuma.io/sidecar-injection=enabled
helm install kong  kong/kong -

[2020-11-26 04:23] Sam123ben opened #1217 "Kuma service mesh where the sidecar throwing exception [Failed to generate Kuma Dataplane: admission webhook "validator.kuma-admission.kuma.io" denied the request: spec.probes.endpoints[0].inboundPort: port has to be in range of [1, 65535]]"
### Summary

We have followed the steps by step implementation using the below wiki:

https://kuma.io/docs/1.0.1/installation/kubernetes/
https://kuma.io/docs/1.0.1/quickstart/kubernetes/

Using the above the kuma got installed and i can then annotate my namespace that auto deployed the kuma side car. But then the issue came up with the kuma side car for a few pods not working as expected.

![imag

[2020-11-26 08:32] robincher opened #1219 "Question - Fronting Kuma Control-Plane GUI with Nginx Ingress"
### Summary

Hi, i wonder if control-plane can be exposed via Ingress?

I got this error when i set it up with AWS LB and Nginx Ingress.

<img width="916" alt="Screenshot 2020-11-26 at 4 11 24 PM" src="https://user-images.githubusercontent.com/328109/100325992-53458700-3004-11eb-8f04-60b7e37136ec.png">

Alternatively, i can access the UI and API successfully locally by using portforwarding

[code]

[2020-11-26 09:12] jakubdyszkiewicz commented on #1219
Hey, yes - some of our users expose it via Ingress. What happens if you hit `http://kuma-cp-mydomain.com/meshes`?
Do you have some additional TLS layer? I see `https` in nginx logs
What browser do you use? Can you try with other browsers?

Thanks!

[2020-11-26 09:43] nickolaev commented on #1219
I had this working with Kong like this:

[code]

[2020-11-26 09:57] lobkovilya commented on #1217
Hey! It seems like your application is using a non-numerical port for `HTTPProbe.Port`. We don't support named ports for probes in `Kuma 1.0.1`. There is an issue https://github.com/kumahq/kuma/issues/1216 to track the progress.

Since Envoy captures all inbound traffic for Pod, Kubernetes probes won't work with `mTLS` enabled. That's why Kuma generates Virtual Probe based on Pod's HTTP Probe. As

[2020-11-26 10:03] lobkovilya commented on #1216
Yes, that's true, we don't support non-numerical probe ports right now. We already have it on our road map and prioritize it since more people are facing that problem. Use this issue to track the progress.

[2020-11-26 12:30] robincher commented on #1219
Hi both,

Thanks for the suggestion! I will try the recommendations given.

Yes, i set up my environment with the following

--> https://kuma-cp-mydomain.com/meshes ---> AWS Application Load Balancer (TLS Terminate here) --> Nginx Ingress --> Kuma Control Plane

Robin

[2020-11-27 14:44] denniseffing commented on #1216
Also facing this issue.

[2020-11-27 16:53] lobkovilya commented on #1216
@arctiqgreg, @denniseffing btw I replied in another [issue](https://github.com/kumahq/kuma/issues/1217) about the workaround, copy it here as well:

[2020-11-30 13:18] #1216 closed

[2020-11-30 16:46] oded-rosi-spot opened #1240 "kuma gui stuck on dataplanes loading"
### Summary

Hey, Im testing the mesh as we are looking for a full kong solution. Ive configured it but Im still somewhat of a beginner on meshes.

### Steps To Reproduce

1. installed on k8s with `kumactl install control-plane | kubectl apply -f -`
2. configured a specific namespace to use this annotations: kuma.io/sidecar-injection: enabled
3. made sure each pod has two ready containers
4. logge

[2020-11-30 17:01] coreywagehoft commented on #550
I managed to get `kuma-prometheus-sd` working with a `Prometheus` instance from Prometheus Operator.  Here is the example YAML for a `Prometheus` instance.  Please note that depending on where you deploy it you may need to create the correct RBAC bindings and service account.

[code]

[2020-12-01 09:18] jakubdyszkiewicz opened #1244 "Dataplane Inspect CLI format"
### Summary

@jewertow is working on bringing up info about DP version and wanted to add this as a part of `kumactl inspect dataplanes`. The problem is that the output of the command is already big
[code]
If we add a `KUMA-DP VERSION` and `ENVOY VERSION`, it will be even bigger.

### Idea
One of the ideas how we can solve it is that we can serve only essential info on `kumactl inspect dataplanes`

[2020-12-02 08:41] rucciva opened #1255 "Helm: Cannot update controlPlane.globalRemoteSyncService.type to ClusterIP"
### Summary

Cannot patch `controlPlane.globalRemoteSyncService.type` to `ClusterIP`  through helm upgrade.

### Steps To Reproduce

1. helm install kuma --namespace kuma-system --set controlPlane.mode=global kuma/kuma
2. helm upgrade kuma --namespace kuma-system --set controlPlane.mode=global --set controlPlane.globalRemoteSyncService.type=ClusterIP kuma/kuma

### Additional Details & Logs

When

[2020-12-02 08:44] nickolaev commented on #1255
Can it be related to https://github.com/helm/helm/issues/3957

[2020-12-02 10:24] rucciva opened #1256 "Service identity injection to request payload"
### Summary

A service might implement a custom Accounting logic. Meanwhile in service mesh scenario, it is preferred to delegate Authentication and Authorization to the data plane, making the receiving service unaware of the caller identity. Thus it would be preferable if the caller identity can be made available to the receiving service, .e.g through HTTP header injection.

### Steps To Reproduc

[2020-12-03 09:43] jewertow commented on #1011
@jakubdyszkiewicz
There are already several implementations of Callbacks interface, but in my opinion none of them fit well for this case.
Can I add another implementation dedicated for this case or should I add this feature to one of existing implementations?
What do you think?

[2020-12-03 11:46] sudeeptoroy opened #1272 "For services across multi-zones which are publicly reachable ingress need not be provisioned"
For scenarios mostly for universal mode, services residing in two separate zones are publicly reachable. For such cases ingress which is used for cross-zone communication may not be needed at all.

Presently there is no provision for this and ingress is a must.
This issue is raised to decide on a setting which can be added to take of such scenario.

reference: slack, https://kuma-mesh.slack.com/ar

[2020-12-03 15:19] austince opened #1273 "kumactl install control-plane produces duplicate env vars"
### Summary

`kumactl install control-plane` does not respect user overrides of kuma env variables passed with the `--env-var` flag. This makes it difficult to customize an install past what is officially supported.

### Steps To Reproduce

1. `kumactl install control-plane --env-var KUMA_DEFAULTS_SKIP_MESH_CREATION=true`
2. See the duplicate entries for `KUMA_DEFAULTS_SKIP_MESH_CREATION` in the c

[2020-12-03 15:48] hvydya commented on #1273
Hi I'd like to work on this. Can you assign it to me?

[2020-12-03 15:51] austince commented on #1273
Sure! Feel free to message in the [slack](https://chat.kuma.io/) if you'd like to talk about any of the details.

[2020-12-03 20:12] subnetmarco commented on #1256
This would be quite simple to implement, I would assume (at least for HTTP requests). We could be returning two headers:

* `X-Forwarded-Client-Cert`, with the full Spiffe entry.
* `X-Forwarded-Client-Service`, with the service name only.

And perhaps:

* `X-Forwarded-Client-Zone`, with the service zone name only.

[2020-12-04 04:04] rucciva commented on #1164
Agreed. This will add one more use case possible for Kuma, a distributed API gateway.

[2020-12-04 15:03] lobkovilya opened #1281 "FaultInjection excessive requirement of http protocol on "source""
### Summary

There is a requirement for `FailtInjection` policy's matcher to specify `kuma.io/protocol: http` for `source`. Apparently, it's not needed, because the protocol for outbound listener on the source side is infered from destinations - https://github.com/kumahq/kuma/blob/master/pkg/xds/generator/outbound_proxy_generator.go#L50.

Resource

[code]

[2020-12-05 08:39] robincher commented on #1219
Hi, i will close this issue now as i am good with running it locally (port-forwarding) as its still POC. Will reopened it when needed :)

[2020-12-05 08:39] #1219 closed

[2020-12-06 09:32] slonka commented on #1256
Just a couple of things to keep in mind when implementing this:

If you want the full spiffie entry you can use https://www.envoyproxy.io/docs/envoy/latest/api-v3/extensions/filters/network/http_connection_manager/v3/http_connection_manager.proto#extensions-filters-network-http-connection-manager-v3-httpconnectionmanager-setcurrentclientcertdetails and set the type to URI (side note: from my exper

[2020-12-07 08:52] nickolaev commented on #1256
Thanks for the pointers @slonka. We have already adopted envoy 1.16.1, so that should not be a problem.
About your last question, I guess @subnetmarco referees to the kuma `multi-zone` deployments, where we have distributed/hybrid deployments. So a zone would be something like `dc-us-east` or `dc-eu-north`.

[2020-12-07 10:01] slonka commented on #1256
@nickolaev I'm sorry I was mistaken v1.16.1 was released `2020-11-20 18:43:35 -0800` and that fix was merged `2020-11-23 09:54:37 +0100` so you still need to upgrade if you want to use that feature.

[2020-12-08 08:54] jakubdyszkiewicz commented on #1244
Hey, @jewertow

we decided to just expand the `inspect` with 2 extra column regardless if this will break in the terminal. If you could create inspect for with `KUMA-DP VERSION` and `ENVOY VERSION` that would be great

[2020-12-08 08:54] #1244 closed

[2020-12-08 09:01] jewertow commented on #1244
Ok, I will implement it this week.

[2020-12-09 08:15] jewertow opened #1283 "Missing dataplane version in dataplane insight"
### Summary

Yesterday [this](https://github.com/kumahq/kuma/pull/1192) PR was merged and now I am working on adding kuma DP and envoy versions to the output of `kumactl inspect dataplanes`.
The problem is that kuma-cp does not return field `dpVersion` in a response from the endpoint `/meshes/{mesh}/dataplanes+insights/{dataplane}`.
I got a response:
[code]

The cause of this bug is incorrect dese

[2020-12-09 10:58] jakubdyszkiewicz commented on #1283
@jewertow let's change `dpVersion` to `kumaDp`so 1. option

[2020-12-09 14:12] #1132 closed

[2020-12-09 22:57] subnetmarco commented on #1273
Hi @hvydya, any progress on this issue?

[2020-12-10 08:29] hvydya commented on #1273
Yeah! The issue is coming from Helm charts apparently, while generating them. The package used for that is generating multiple entries for `env-var`s. I am assuming it's not because of a bug in Helm charts. So searching for the actual issue restricted to kuma codebase only.

[2020-12-10 09:10] lucaghersi opened #1288 "Sidecar injection fails if liveness probe (or readiness) httpGet path do not begins with "/""
### Summary

Sidecar injection fails if HttpGet liveness probe (or readiness) path do not begin with "/".

Kubernetes do not really care about this, so my pod works also if the path is "hc" and not "/hc".
I would expect for Kuma to be able to inject the missing slash if needed.

### Steps To Reproduce

1. Create a deployment with a liveness probe (or readiness) of type httpGet and set path to "pat

[2020-12-10 10:36] #1283 closed

[2020-12-10 10:44] jakubdyszkiewicz commented on #1011
Hey @jewertow
agreed, that's a job for separate Callback.

[2020-12-10 16:55] subnetmarco commented on #1272
Wouldn't this big a standalone deployment with flat network, or am I wrong? @nickolaev @jakubdyszkiewicz

[2020-12-11 10:08] nickolaev commented on #1288
It looks to me like a validation failing, not a crash.
In any case, there is an assumption that the path starts with `/` in this piece of code here:
[code]

https://github.com/kumahq/kuma/blob/master/pkg/plugins/runtime/k8s/probes/probe.go#L58

I guess it is pretty trivial to create a PR that checks if p.Path() starts with `/` and if not to prepend it.

[2020-12-12 05:30] rucciva opened #1297 "Feature Request: Ingress Per-Zone Advertised Addresses"
### Summary

In a scenario where zone A and zone B are reachable through private network (e.g. for supporting both vm and kubernetes workloads in a private network) but zone C are only reachable through public network, it would be efficient if communication between zone A and B use the private network.

Maybe with this kind of configuration:

[code]

### Additional Details & Logs

- Version: 1.0.3

[2020-12-14 10:43] hvydya commented on #1273
Hi! I need some help. I am unable to figure out the bug. I haven't used Helm before so I don't have much context regarding what is happening and what is supposed to happen. But, I've found the place where the duplicate `env-var`s get introduced.

Ref: `app/kumactl/cmd/install/render_helm_files.go` line `64`
[code]
Here files variable has the duplicate env-vars in the cp deployment. So I'm not sure

[2020-12-14 14:47] #1207 closed

[2020-12-14 15:05] #1281 closed

[2020-12-14 15:06] austince commented on #1273
Hey @hvydya, no worries on timing, totally understand studies come first + good luck!

As for the fix, nice find on the line that generates the duplicates, and that it ultimately is caused by the Helm chart resources. I think the below link is the section in the chart that creates the duplicates since the user-supplied `envVars` are just added to the hardcoded list. We'll need a way to merge these

[2020-12-15 03:31] hvydya commented on #1273
Hi @austince ! So, I looked into Helm charts and I came up with an idea. I changed the `cp-deployment.yaml` but, my changes aren't getting reflected while generating the values from the templates. So, I looked into that and I'm guessing the templates are hardcoded in a file ( `/app/kumactl/pkg/install/k8s/control-plane/helmtemplates_vfsdata.go`).

https://github.com/kumahq/kuma/blob/b35a1a3bd54322

[2020-12-15 08:04] jakubdyszkiewicz commented on #737
We now have MeshInsights as well as Kubernetes cache

[2020-12-15 08:04] #737 closed

[2020-12-15 08:36] jakubdyszkiewicz commented on #1273
Hey @hvydya, run `make generate/kumactl/install/k8s/control-plane` after modyfing YAML to reflect this in vfsdata

[2020-12-15 08:37] jakubdyszkiewicz commented on #486
The validation is on server side now

[2020-12-15 08:37] #486 closed

[2020-12-15 12:22] sudeeptoroy opened #1320 "provide config to set "request_timeout" for streams"
https://www.envoyproxy.io/docs/envoy/latest/faq/configuration/timeouts#stream-timeouts

Continuing our discussion from slack:
https://kuma-mesh.slack.com/archives/CN2GN4HE1/p1607927232406400

[2020-12-16 10:54] nickolaev commented on #1006
Closing this one since the author accepted the solution

[2020-12-16 10:54] #1006 closed

[2020-12-16 11:26] nickolaev commented on #971
@lobkovilya it does. Closing this one as it is already fixed by the referenced PR.

[2020-12-16 11:26] #971 closed

[2020-12-16 11:28] nickolaev commented on #1193
This should be addressed already in the latest `1.0.3` version. I think it was related to the format of the (ever changing its IP) DNS name -> `https://ec2-18-144-4-220.us-west-1.compute.amazonaws.com:5678`

[2020-12-16 11:29] nickolaev commented on #1193
Closing, please re-open if it is still relevant.

[2020-12-16 11:29] #1193 closed

[2020-12-16 14:37] johnniemorrow opened #1324 "Feature Request: circuit-breaker based on max-connections, max-requests, max-pending-requests"
### Summary

I have a Kubernetes application which includes an ML model. The model is served using [Seldon Core](https://www.seldon.io/tech/products/core/) which provides a REST endpoint for the model.

I want to limit the number of concurrent requests being sent to the model as it can get overloaded. Seldon-core has integrations with [Istio](https://istio.io/latest/docs/tasks/traffic-management/c

[2020-12-16 17:38] subnetmarco opened #1327 "Update MeshInsights with DP versions"
Like:

[code]

So that this information can be returned in both the GUI and in the CLI.

Related to https://github.com/kumahq/kuma/pull/1291.

[2020-12-16 17:44] subnetmarco commented on #1297
Perhaps routing across zones deserves a new resource in Kuma as it can get quite complex. Also for some zone-to-zone traffic we may want to use different ingresses with a round robin load balancing strategy, some other zones with least request, and so on.

[2020-12-16 18:01] jewertow commented on #1327
I will do it.

[2020-12-17 01:33] rucciva commented on #1297
That could also work. In that case, we need to specify two different ingress with two different service tag, one with public ip and one with private ip. And then the resource could be similar to TrafficRoute like this

[code]

[code]

[2020-12-17 03:12] rucciva opened #1328 "Feature request: Make Trace and Log Backend Part of Mesh"
### Summary

To leverage the security and multizone feature of kuma for shipping trace and log.

Maybe add these field under `conf`

[code]

### Additional Details & Logs

- Version: 1.0.3

[2020-12-17 03:17] hvydya commented on #1273
Hi! Thanks, that command worked. 👍

The go package from helm doesn't handle merging so, my guess was to modify the template. I've looked at the template docs and didn't find any straightforward fix. The idea I had in mind was:
Maintain the `map` of envs present in `cp-deployment.yaml`, in `values.yaml`. In `cp-deployment.yaml` , we iterate through the `map` declared before and check if `envVars` (

[2020-12-17 09:26] #1112 closed

[2020-12-17 16:56] #1288 closed

[2020-12-17 21:57] jakubdyszkiewicz commented on #796
We need to set `rate_limitting_settings` here https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/core/v3/config_source.proto#envoy-v3-api-msg-config-core-v3-apiconfigsource

[2020-12-18 00:01] austince commented on #1273
Hey, I like the direction you're going with the `map` of envs! The problems you've noted make a lot of sense -- here might be some ways to get around them:

If we keep the conditional generated "kuma-defined" env map separate from the "user-defined", we might be able to then generate the final map by merging them, with precedence going to the user-defined values. The [Sprig template library](https

[2020-12-18 17:50] hvydya commented on #1273
Yeah it makes sense. I'll look into helpers and sprig. 👍

[2020-12-21 12:33] #683 closed

[2020-12-21 17:11] subnetmarco commented on #1327
@jewertow do you have any updates on this work, or should somebody else implement it?

[2020-12-22 12:51] jakubdyszkiewicz commented on #1324
Hey,

yes - we do not have native Kuma policy for configuring those limits. You can however use ProxyTemplate now https://kuma.io/docs/1.0.3/policies/proxy-template to patch cluster of Envoy with those settings.

[2020-12-22 12:53] jakubdyszkiewicz commented on #1320
Native Kuma Timeout policy is on our roadmap, approximate estimate is January 2021

[2020-12-22 16:59] subnetmarco commented on #1324
Would this be an update to the existing Circuit Breaker policy? @lobkovilya

[2020-12-22 18:28] coreywagehoft opened #1354 "Control Plane Secret Errors"
### Summary
I have Kuma installed in a multi-zone configuration.  I have been occasionally finding a remote control plane in a bad state with non-stop errors with failing to get secrets.  Here is an example error message:

[code]

When the control plane gets into this state, pods fail to terminate and new pods are stuck in a pending state.  To fix this issue I delete the control plane pod, and whe

[2020-12-22 23:11] johnniemorrow commented on #1324
Thanks for the link @jakubdyszkiewicz !

I wasn't sure if max-connections/max-pending-requests would fall under any of the categories listed there (Listeners, Clusters, Network Filters, HTTP Filters, VirtualHost) - Envoy lists them on their [circuit breaking overview](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/upstream/circuit_breaking).

But looking through the HTTP Filters o

[2020-12-23 09:27] jakubdyszkiewicz commented on #1324
ProxyTemplate allows to:
* add HTTP filter, so you can play around with Adaptive Concurrency HTTP Filter
* Modify cluster so you can modify circuit breaker on the cluster

@subnetmarco this is "bulkhead" that we were talking about a couple of days ago

[2020-12-23 09:33] #621 closed

[2020-12-23 10:36] johnniemorrow commented on #1324
Ah ok, I didn't look at the Clusters link on that page, I see the circuit breakers there.

That's great, I'll give that a go. Thanks again @jakubdyszkiewicz  !

[2020-12-23 14:53] jakubdyszkiewicz commented on #1011
1) and 2) is done. 3) is still to do

[2020-12-23 14:56] jakubdyszkiewicz opened #1364 "Versions of the Remote CP in Global CP"
### Summary

Just like we now have Kuma DP and Envoy version in Dataplane view in GUI and kumactl we should do the same with Remote and Global CP.

1. Remote CP sends it's version in Metadata of DiscoveryRequest
2. Global CP reads this and put this in ZoneInsight
3. We can now display the version in GUI and kumactl

Not only this will help us present info about versions but it can help us with bac

[2020-12-23 15:40] tharun208 commented on #1364
@jakubdyszkiewicz I can pick this up

[2020-12-24 05:06] YourTechBud commented on #885
I would love to help contribute this feature. We really need traffic splitting based on request headers and url.

[2020-12-24 07:11] nikita15p opened #1366 "Can we have kuma CRDs as namespace scoped?"
### Summary

Currently kuma has CRDs cluster scoped, can we have it namespace scoped as defined in https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definitions/ .

### Steps To Reproduce
Browse to https://github.com/kumahq/kuma/tree/master/deployments/charts/kuma/crds to check scope.
eg In https://github.com/kumahq/kuma/blob/master/deployments/charts/kuma/crds/ci

[2020-12-24 18:03] austince commented on #1366
Hey @nikita15p, can you describe a bit of your use case for needing Namespaced-scoped CRDs and why the current scope doesn't work for you?

[2020-12-24 18:14] nikita15p commented on #1366
Hi @austince . I am looking for CRDs at namespace scope, because same cluster is being used by multiple tenants and applications being namespaced. So CRDs at namespaced scope is more apt and can be created by users without cluster-level authorizations.

[2020-12-24 18:19] austince commented on #1366
Got it, thanks! Are you thinking of having multiple Kuma control-planes running in the same cluster? Can you describe a bit more about how different users deploy apps and Kuma resources?

[2020-12-24 18:51] nikita15p commented on #1366
So basically few of the users may need kuma service mesh while others may not use service mesh or will opt for other service mesh. So having namespace scoped CRDs will be simpler to use and reduce overhead of cluster-level auth. And yes, if it's available at namespace scope, we can have multiple control planes in same cluster (for eg maintaining standalone mode in one namespace and multizone mode

[2020-12-30 04:08] luxurine opened #1371 "multi-zone mode cross zone access problem"
### Summary

SUMMARY_GOES_HERE

I have three k8s cluster with kuma deployed in multi-zone mod, I have tried the demo in this repo(https://github.com/subnetmarco/kuma-demo). The question is it looks like I can access from one zone to another only if both zone have the service to be consumed. For example, counter svc in zone-1 need access redis svc in zone-2, only if zone-1 also have a redis svc dep

[2020-12-30 09:58] jewertow commented on #1327
I will submit a pull request this week.

[2020-12-31 16:42] subnetmarco commented on #1371
You can consume other services as long as you use the `.mesh` DNS resolver that is built-in with Kuma by making the request to `{kuma-service-name}.mesh` on default port `80` (the port will be transparently replaced with the port of the service you are trying to consume, `80` is just a placeholder): https://kuma.io/docs/1.0.4/documentation/networking/#usage

[2021-01-03 21:02] chris-makaio opened #1373 "Noob questions about VM meshing"
Sorry this is not a bug report nor a feature request. But I think there might be others having the same questions and Google currently returns no results.

Scenario:
- 4 DCs - 2x K8s, 2x Bare Metal
- Only the bare metal DCs have publicly accessible IPs
- All DCs are currently in a common VPN tunnel

Questions:
- how to decide which should be the primary DC?
- Where should the global CP be installe

[2021-01-03 22:28] austince commented on #1366
That makes sense to me, thanks for the extra info! I'm not entirely sure what the current constraints are -- @jakubdyszkiewicz / @nickolaev will be swamped with notifications over the next few days (weeks? :sweat_smile:) but could hopefully shed more light on why the resources are cluster-scoped.

My initial guess, which could be way off, is that the Kuma control-plane currently watches resources

[2021-01-04 02:12] luxurine commented on #1371
Thanks for the reply.
I change the env:
[code]
to
[code]

It works. Thanks!

[2021-01-04 02:12] #1371 closed

[2021-01-04 10:15] jakubdyszkiewicz commented on #1373
Hey Chris!

There is no Primary DC in Multizone deployment, all clusters are equal (there is no leader election across clusters) and they are managed by Global CP. I assume you meant a DC in which Global CP is installed.

Technically it does not really matter if Global is deployed in K8S or on bare metal. I think you should pick a deployment that you are the most comfortable with. The advantage of

[2021-01-04 10:27] chris-makaio commented on #1373
Thanks @jakubdyszkiewicz ! Well, I think Kuma is too hard for me as a first experience in service meshing. Since I've posted my question I continued playing around and experienced the next hazzle when trying to connect the DCs in the fastest way possible. VPN (Wireguard) worked but I thought it might bring unnecessary overhead.
But when using public IPs I don't get the encryption concept. I've rea

[2021-01-04 10:55] jakubdyszkiewicz commented on #1373
Thanks, that's valuable feedback, we are constantly iterating to make the experience better. Our current plans and ideas for improving multi-zone deployment cover getting rid of DB dependency in the remotes and also give a possibility of running global and a remote for one zone as a single deployment.

Global <-> Remote CP communication is not that heavy in my opinion (much lighter than CP <-> Env

[2021-01-04 12:19] jakubdyszkiewicz commented on #1366
Hey @nikita15p

our motivation to get change namespace scoped resources to cluster scoped was that it was confusing for users to understand in which namespace they should put policies and how does it affect the traffic. Internally we were omitting this information altogether (because you can have one mesh on many namespaces) so we decided that it makes the most sense to change the scope to Cluster

[2021-01-04 12:21] jakubdyszkiewicz commented on #1240
Hey, is the problem still visible in 1.0.4? We've made some changes along the way to dataplane list view.

[2021-01-04 23:56] subnetmarco commented on #1354
Any thoughts @jakubdyszkiewicz @nickolaev ?

[2021-01-05 13:08] nickolaev commented on #1354
Not sure if it is related, but why K8s 1.14? According to AKS [docs](https://docs.microsoft.com/en-us/azure/aks/supported-kubernetes-versions), this is not even a supported version today.

[2021-01-06 09:25] nickolaev opened #1386 "Automate annotations for pods in the Mesh"
### Summary

Today Kuma provides all the automation to expose the cp and do metrics to Prometheus but still leaves the application metrics to the user as specified in the [docs](https://kuma.io/docs/1.0.4/policies/traffic-metrics/#expose-metrics-from-applications)

To better the user experience, we can introduce an automated injection of:
[code]

One idea is to have a generic mechanism to inject a

[2021-01-06 09:38] nickolaev opened #1387 "Evaluate k3d vs KinD"
### Summary

Today our testing infrastructure relies heavily on [KinD](https://github.com/kubernetes-sigs/kind) which is a convenient way to run ephemeral K8s clusters locally. However, since it packs a full K8s distro, it tends to be slow especially when several clusters are run in parallel (e.g. our multi-zone). We surely know docker can do better as spinning a couple of Kuma universal clusters

[2021-01-06 10:40] lobkovilya commented on #1354
Hey @coreywagehoft, the error says when Kuma was trying to fetch Secrets from `kube-apiserver` it failed with error `transport is closing`. Is it possible that `kube-apiserver` experienced some troubles at those times, maybe it was restarting?

[2021-01-06 13:33] svenwal opened #1388 "Mesh creation wizard in UI generates wrong YAML"
### Summary

When using the wizard in the GUI to create a new Mesh and enabling one or more options (like mTLS, Logging, ...) the created YAML is wrong

### Steps To Reproduce

1. Use the wizard to create a mesh, choose at least one optional setting
2. Apply the generated YAML
3. Look at the created Mesh - it misses the options

When looking at the YAML you'll notice all the options are not (as th

[2021-01-06 14:50] coreywagehoft commented on #1354
@lobkovilya it is entirely possible.  The strange part is this error would be repeating many times a second in the logs, and as soon as I deleted the pod, the new replica would not have the error.

It seems that when it had an issue talking with the k8s api-server it would get caught in an infinite loop with this error and never recover.

[2021-01-07 11:17] nickolaev commented on #1354
@coreywagehoft we are debugging, what we believe is a related issue. Do you by any chance have an idea if the CPU goes up once the `kuma-cp` gets into this infinite loop?

[2021-01-07 19:09] nickolaev commented on #1354
We have addressed a related issue, and I think it will solve that issue. @coreywagehoft can you please re-check if you still see theproblem.

[2021-01-07 19:18] subnetmarco commented on #1354
@coreywagehoft the fix is in v1.0.5

[2021-01-08 09:47] jakubdyszkiewicz commented on #1386
But how do you know on which port and path an application exposes the metric to do it automatically?
This is very specific to the application itself.

[2021-01-08 09:50] jakubdyszkiewicz commented on #1151
Done with 1.0.3

[2021-01-08 09:50] #1151 closed

[2021-01-08 10:05] jakubdyszkiewicz commented on #807
CA verification is done.

[2021-01-08 10:05] #807 closed

[2021-01-08 10:05] #760 closed

[2021-01-08 10:05] jakubdyszkiewicz commented on #801
Closing for now since it was not required for multizone after all

[2021-01-08 10:05] #801 closed

[2021-01-08 10:16] #1327 closed

[2021-01-09 07:17] tharun208 commented on #1000
closed by https://github.com/kumahq/kuma-gui/pull/90

[2021-01-10 01:00] chris-makaio commented on #1373
Thank you @jakubdyszkiewicz

I decided to give an universal global cp deployment a try. I'm using 3 machines, each running
[code]

The first instance starts up fine:

But the other instances fail during leader election:

oh wait.. that's an info log... sooooo... everything is fine, I guess? :D

However, maybe the CLI combined with TLS postgres ENV variables helps others.

Alas, two other questions

[2021-01-10 01:08] chris-makaio commented on #1373
any maybe, if I may ask for some guidance:
if the universal instances are public facing (so we need a FQDN mapping and TLS termination), what topology do you recommend? kuma Universal Instances <-> Multiple Clouds
Would the kuma universals only forward everything to the (private) clouds, so its envoy proxy is more or less a "by-pass" proxy? Where should I install Kong (for FQDN / TLS), universal o

[2021-01-11 11:44] chris-makaio opened #1403 "Error: failed to flush zone status"
### Summary

After deleting some K8s services, resources are not synced anymore

### Steps To Reproduce

(no idea)

### Additional Details & Logs

I'm not sure how it happened. I can only confirm that it started happening after removal of the kuma-demo namespace. I've already tried to find the actual execute query params - but no chance.

[code]

[2021-01-11 11:47] nickolaev commented on #1403
Can you please provide K8s and Kuma versions. Also is this a standalone or multicluster setup?

[2021-01-11 11:56] jakubdyszkiewicz commented on #1403
also, can you execute `SELECT * FROM resources WHERE type = ZoneInsight` ?
I'd like to see how long is the current `ZoneInsight` object, because it seems we hit some Postgres limits

[2021-01-11 11:57] chris-makaio commented on #1403
Currently not next to screen, but k8s 1.19 and latest kuma release (downloaded yesterday)

multi-cluster setup with kuma cp running on multiple universal nodes, dps running ok two k8s clusters

[2021-01-11 12:29] chris-makaio commented on #1403
Pasting from GUI:

`{"subscriptions":[{"id":"52124e48-73a0-473b-a906-6c6a4460b32b","globalInstanceId":"ubuntu-s-2vcpu-4gb-fra1-01-bae3","connectTime":"2021-01-10T11:37:09.545963032Z","status":{"lastUpdateTime":"2021-01-10T12:07:52.588325650Z","total":{"responsesSent":"18","responsesAcknowledged":"17","responsesRejected":"1"},"stat":{"CircuitBreaker":{"responsesSent":"1","responsesAcknowledged":"1"

[2021-01-12 07:01] tharun208 commented on #761
ok, `appProtocol` has been available for ga from Nov 2020. @jakubdyszkiewicz I have a doubt, do we need to support backward compatibility for this, because the change will be on the policy and the user can re-configure it, once it is released.

[2021-01-12 08:54] jakubdyszkiewicz commented on #1403
Thanks!

@lobkovilya I think we are hitting the limit of payload when we notify the control plane of the change https://www.postgresql.org/docs/9.4/sql-notify.html

The large `spec` can cause to hit the limit. I see that we are not using `spec` at all, we only rely on `type`, `name` and `mesh`. Can we trigger the event by omitting `spec`?

@chris-makaio
As a workaround for now I'd suggest just del

[2021-01-12 09:04] jewertow commented on #1165
I will implement it.

[2021-01-12 09:06] jewertow commented on #1011
I will do the last part of this task.

[2021-01-13 08:15] jakubdyszkiewicz commented on #761
Yes, we need to support also annotations. It will take a long time to support only K8S 1.18+

[2021-01-13 08:52] #1364 closed

[2021-01-13 09:54] #1030 closed

[2021-01-14 13:42] tharun208 commented on #761
so, once this pr is merged, deprecating `annotations` support is introduced as a separate pr or any other approach like introducing feature toggles?

[2021-01-14 13:46] lobkovilya commented on #761
Hey @tharun208! I think we should give support for both ways of providing the protocol, and it makes more sense to me to do so in a single pr.

[2021-01-16 02:14] nikita15p commented on #1366
Thanks for the detailed explanation. Getting cluster-level auth for a user in the shared cluster needs admin privilege and has to go through process of org.

[2021-01-19 01:40] patrickreinan commented on #1191
@yangvipguang  this is a good question? Hi people, is there a way to set up traffic route by request headers?

[2021-01-19 09:11] #1403 closed

[2021-01-19 09:23] #1165 closed

[2021-01-19 14:28] #1273 closed

[2021-01-20 11:33] lahabana opened #1450 "DNS for overlapping `kuma.io/service` in different meshes"
### Summary
It is not very clear in the doc but I believe that each mesh should be a view isolated from other meshes.

This doesn't seem to be very much the case with DNS in `Universal` mode as a user can resolve DNS names of services that run on a different Mesh.
This is ok in most cases but when trying to offer strong isolation it seems unreasonable to have service meshes leak from one mesh to a

[2021-01-20 11:34] lahabana commented on #1450
If you think this would be a workable solution I'd be happy to work on it soon-ish.

[2021-01-20 15:38] #1354 closed

[2021-01-20 17:29] coreywagehoft opened #1455 "Feature Request: FIPS 140-2 support for Kuma"
### Summary
Envoy Proxy has support for [FIPS 140-2](https://www.envoyproxy.io/docs/envoy/latest/intro/arch_overview/security/ssl#fips-140-2) if Envoy is built with the `--define boringssl=fips`

For FIPS 140-2 support you also need the ability to set specific TLS ciphers.  It would be great if Kuma could produce an image with FIPS 140-2 support enabled in Envoy and the ability to select TLS ciphe

[2021-01-21 11:01] lahabana commented on #1455
This doesn't solve the problem but you can easily switch the envoy version inside the kuma image by building a docker image like this:

[code]

This grabs the istio envoy binary and replace it in the kuma-dp image.
I used this to have the WASM plugin in Kuma and that worked well.

[2021-01-21 13:51] jakubdyszkiewicz commented on #1450
Let me start with a short introduction to how Transparent Proxy and Kuma DNS works.
Envoy exposes one real listener on port 15001 and virtual listeners for each service that does not bind to the port.
When iptables hijacks the outgoing request, Envoy will extract original IP:port, go through virtual listeners and see if there is any match, if so then it does load balancing to the proper instance.

[2021-01-21 14:12] nickolaev commented on #1450
ECS won't be a problem at all IMHO.

I see only positives in the proposed approach, I think you both outlined them. I can only add that the experience of maintaining the DNS in the CP and forwarding the hosts to it is not necessarily the easiest one. I'd gladly drop the DNS in kuma-cp.
Saying this - I don't think the approach should be to have both options, I would prefer to just move to the Envoy

[2021-01-21 14:30] lahabana commented on #1450
It's in the envoy docs:

Though I looked at Envoy issues and the only semi-serious issue I see is: https://github.com/envoyproxy/envoy/issues/12508

[2021-01-21 15:39] coreywagehoft commented on #1455
Great advice @lahabana for short term possibilities.  Thanks!

[2021-01-21 18:59] lahabana commented on #1450
Ok so I managed to hack around.
The trickiest part was to pass information from `dns.VIPOutbounds` and the generator created.
I think a suitable option would be to add some metadata to `mesh_proto.Outbound` do you think that's something we'd want? If not how do you see this?

Also there's a bunch of things to figure out with transparent proxying and UDP Listeners. I'll look at this more tomorrow.

[2021-01-22 09:10] nickolaev commented on #1134
Isn't that fixed already?

[2021-01-22 09:11] #1013 closed

[2021-01-22 09:44] lahabana commented on #1450
I'm going to POC this with cheating with Tags to pass this info. I'm not sure it's the right thing to do but it will make it possible to test things out

[2021-01-22 10:14] lahabana opened #1461 "Custom port for VIPs"
Vips are pretty useful in Kuma.
However, they are always bound to port 80 (see: https://github.com/kumahq/kuma/blob/master/pkg/dns/outbound.go#L14).
From a technical POV it's ok but for ease of use I'd like to be able to specify which port my service is going to be exposed on (It's weird for people to not use 5432 for Postgres or 9092 for Kafka).

I think this can be an extra configuration either

[2021-01-22 11:01] nickolaev commented on #1461
We had lots of debates when designing this feature and we settled for port `80`. I do agree that it would ake sense to be able to override this in case one needs it.
I'd call for @subnetmarco's opinion here.

[2021-01-22 12:05] bdecoste opened #1462 "Error with KUMA_CONTROL_PLANE_CA_CERT set for DP"
### Summary

Running the CP and a DP on one VM and when I try to start a 2nd DP on a 2nd VM with `KUMA_CONTROL_PLANE_CA_CERT` set I get the following error in the 2nd DP:

[code]

### Steps To Reproduce

1. Create CP and DP w/postgresql on VM1
2. On 2nd VM set `KUMA_CONTROL_PLANE_CA_CERT`
3. Start the 2nd DP
4. Should see the error above

### Additional Details & Logs

- Version 1.0.5

[2021-01-22 12:13] bdecoste opened #1463 "Kuma's CircuitBreaker maps to both Envoy's outlier_detection and circuit_breaker"
### Summary

Kuma's `CircuitBreaker` maps to Envoy's `outlier_detection` not `circuit_breaker`. This seems confusing especially when tracking Envoy’s `.circuit_breakers.` stats.

### Steps To Reproduce

1. Create a CircuitBreaker per the doc here: https://kuma.io/docs/1.0.5/policies/circuit-breaker/#usage
2. Examine the Envoy cluster via `config_dump`:
[code]

### Additional Details & Logs

- Vers

[2021-01-22 12:15] bdecoste opened #1464 "Support Envoy's circuit_breaker in as a Kuma artifact"
### Summary

Kuma does not provide a mechanism for defining Envoy's circuit_breaker outside of a ProxyTemplate

### Steps To Reproduce

### Additional Details & Logs

Version: 1.0.5

[2021-01-22 13:46] nickolaev opened #1468 "HDS optimizations"
If I understand this code, it means that for every interval (5s) we will be fetching the DP from the database (uncached).
Is there any other place in the code that modifies health? If not, we could store this data here in some map and update only if there is a change. Look at DataplaneStatusSink and DataplaneInsight, it updates only if there is a change in the insight.

_Originally posted by @jaku

[2021-01-23 21:19] subnetmarco commented on #1462
+ @jakubdyszkiewicz

[2021-01-25 13:40] lahabana commented on #1450
So I've just wrote a POC for this: https://github.com/lahabana/kuma/commit/f27cd908d937d3acfa9f11b3c7e9d566001e89b4

I've made it work with our CNI-plugin so that the we route `169.254.53.53:53` to envoy passthrough port.
I believe the best thing to do to make this production grade is to introduce it as a Policy.

Something like

[code]

This enables us to also get rid of the usage of Vips as the

[2021-01-25 17:25] chris-makaio opened #1478 "Documentation on multi-zone locality aware routing"
On several locations in the docs and blogs, it's stated (taken from https://kuma.io/blog/2020/multi-cluster-cloud/):

`When a new service is registered into Kuma, a new “kuma.io/zone” tag is added to the data plane definition so that we can use the attribute-based policy selectors (opens new window) to configure Kuma policies like Traffic Route (opens new window) to determine the behavior of cross

[2021-01-26 22:55] chris-makaio opened #1482 "Cross-cluster load-balancing to mesh-internal but cluster-external services"
### Summary

In our PoC setup there's a management cluster responsible for load-balancing, running Kong API Gateway and Kuma's global CP.
Two compute clusters are used for the actual workloads and Kong should route, depending on the public FQDN of the request, either to worker cluster 1 (eg US) or worker cluster 2 (eg EU):
us.mydomain.com -> management cluster -> worker cluster 1
eu.mydomain.com -

[2021-01-27 19:27] jewertow commented on #1011
For now we cannot display control plane identifier, because envoy does not export this value to prometheus.
I created an issue, described the problem and suggested a solution [here](https://github.com/envoyproxy/envoy/issues/14823). I will implement it soon and then I will come back to this task.

[2021-01-28 07:07] nikita15p opened #1486 "Add test cases to test only universal or only kubernetes mode"
### Summary
In the make file, there should be a target available to test only universal mode or only kubernetes mode.

SUMMARY_GOES_HERE
for eg:
`kumactl install` is used for kubernetes mode and not for universal mode. Similarly `kumactl apply` is available only for universal mode. So if a user uses only universal mode, he can just run `make test/universal_mode` and get all the modules used in tha

[2021-01-28 08:50] nickolaev commented on #1486
@nikita15p do you plan to work on this?

[2021-01-28 10:51] nikita15p commented on #1486
Will take it up.

[2021-01-28 14:46] lahabana commented on #1450
I've opened a proposal in #1488 let me know what you think

[2021-01-28 16:17] lahabana commented on #1461
Thinking about this a little more it like a tag like `kuma.io/port` would work for Ingress, ExternalServices and regular DPs.
If it's unset we use port 80 (Original behavior) If it's set we use whatever is set in there.

WDYT?

[2021-01-29 09:49] lahabana opened #1492 "Some tests are not running due to missing test_suite files."
While working on #1489 I've noticed that the tests in `pkg/plugins/runtime/universal/outbound` were not running because of a missing suite_test file.

From a quick look around I've noticed another package that doesn't have a test_suite (`pkg/dns/vips`).

We probably:

a) Fix all missing `test_suite`
b) Add a check to ensure that new tests do actually run

[2021-01-29 15:11] bdecoste opened #1495 "Support k8s and non-k8s services with a single (i.e. non-multizone) CP"
### Summary

I'd like to use a single CP to manage k8s and non-k8s services without having to use multizone.

### Steps To Reproduce

1. Deploy CP to k8s env (e.g. EKS)
2. Attach non-k8s DP (e.g. EC2) to the k8s CP. This is not possible as of 1.0.6

### Additional Details & Logs

[2021-01-29 15:13] bdecoste opened #1496 "Support running multizone global and zone CPs in the same k8s cluster"
### Summary

Id like to be able to deploy multizone global CP and remote CP to the same k8s cluster

### Steps To Reproduce

1. Deploy global multizone CP to a k8s cluster
2. Deploy remote multizone CP to the same k8s cluster. This is not possible as of 1.0.6
3.
4.

### Additional Details & Logs

- Version
- Error logs
- Configuration
- Platform and Operating System

[2021-01-29 16:41] nickolaev commented on #1495
There are some assumptions about the DP resources made when Kuma CP is run on Kubernetes. I don't think this is trivial to be done.
Please consider adopting Multizone deployments with a Global CP and Remote CPs in each zone, where a zone can be K8s or Universal. This is the intended way to mix workload types.

[2021-02-01 16:58] patrickreinan opened #1507 "Traffic Route policy using headers"
Traffic Route could be improved by adding a header match in source.

[2021-02-04 12:17] nikita15p opened #1515 "Kuma Documentation for prometheus-sd run command still shows http protocol instead of grpc / grpcs"
### Summary

SUMMARY_GOES_HERE
kuma-prometheus-sd needs grpc/grpcs protocol of kuma control plane to be provided on --cp-address flag, otherwise it fails.

But in following snap of doc, there is no mention of grpc/grpcs
![image](https://user-images.githubusercontent.com/37657012/106891450-b2183280-6710-11eb-9a72-ae45a4dc15ba.png)

### Steps To Reproduce
Run following command with --cp-address havi

[2021-02-08 10:13] lahabana commented on #1450
Started this work in #1520

[2021-02-08 16:55] jakubdyszkiewicz opened #1534 "Security of accessing Envoy's Admin API from the Control Plane"
### Summary

Recently, we introduced a way for the Control Plane to communicate with Envoy's Admin API.
We needed that to support Jobs on Kubernetes (we force shutdown of Envoy `/quitquitquit` when all other containers are down in a Job's Pod). Obviously, Envoy Admin is sensitive (you can bring down whole environment if you have access to all Envoy admins) and cannot be exposed to the outside worl

[2021-02-09 18:03] nickolaev commented on #1515
@bradamant3 might be able to help

[2021-02-10 11:28] nickolaev opened #1547 "Errors when deploying Kuma with CNI"
### Summary

When the Kuma CNI was used a flood of error Messages appear in kuma-cp log.

### Steps To Reproduce

1. make kind/start
2. make kind/deploy/kuma
3. check the kuma-cp logs

### Additional Details & Logs

- Version  - master
- Error logs
[code]
- Configuration - CNI is enabled
- Platform and Operating System - K8s 1.18

[2021-02-11 13:42] #761 closed

[2021-02-11 18:09] ip1981 opened #1553 "Disable check for an update"
Is there a way to disable this check for the latest version?

![Screenshot_2021-02-11_20-08-22](https://user-images.githubusercontent.com/131844/107679238-fa04ff80-6ca4-11eb-8a95-1a50d6cb28c3.png)

[2021-02-12 06:31] nickolaev commented on #1553
I am not aware of such.

[2021-02-12 06:33] nickolaev commented on #1507
Duplicaton of #885

[2021-02-12 06:33] #1507 closed

[2021-02-12 13:39] lahabana opened #1556 "In Global setup resource age is 0"
### Summary
kumactl get meshes shows age as 292y

### Steps To Reproduce

1. Setup a multizone setup using Postgres as store
2. Create entities in global and in remote
3. Look at the entities (the ones not in the local store have an age of 292y)

### Additional Details & Logs

Looking at both dbs:

Remote:

[code]

Global:

[code]

You can see the the create time of the entities not owned by this

[2021-02-16 05:29] #1556 closed

[2021-02-16 07:42] nickolaev commented on #413
pkg/core/bootstrap/autoconfig.go:89

[code]

[2021-02-16 16:04] jgrund opened #1566 "Consider creating RPM and Deb packages for kuma"
Hi,

We are currently running a universal deployment, and it would be very useful to have pre-built packages for both RPM and Deb.

[2021-02-17 22:54] subnetmarco commented on #1566
In Kong we are creating these packages via https://github.com/jordansissel/fpm with great success. Perhaps we can think of doing the same with Kuma.

[2021-02-18 20:03] #1547 closed

[2021-02-18 23:16] bdecoste opened #1585 "support admin bind address for kuma-dp run"
### Summary

Support something like `kuma-dp run --admin-host` similar to `kuma-dp run --admin-host` so the envoy admin API can be exposed externally

### Steps To Reproduce

$ kuma-dp run --help
Launch Dataplane (Envoy).

Usage:
  kuma-dp run [flags]

Flags:
      --admin-port portOrRange         Port (or range of ports to choose from) for Envoy Admin API to listen on. Empty value indicates that

[2021-02-19 15:14] #1515 closed

[2021-02-23 12:28] #796 closed

[2021-02-23 18:51] bdecoste opened #1604 "Expose the listener route match in a Dataplane resource"
### Summary

Expose the listener route match in a Dataplane resource so you can control cluster routing beyond a / prefix

Something like:

[code]

[2021-02-24 12:48] lahabana opened #1605 "On universal service insights subscription never close"
We have a dataplane still registered in our CP 7 days after shutting down:
[code]

This DP can't possibly be still running (the vm it was on was destroyed).

What I think is happening:

- `OnStreamClosed` is never called (Not sure why though)
- Because the client never reconnects the subscription is never opened or closed
- Because `OnStreamClosed` is never called the dataplane_lifecycle doesn't w

[2021-02-24 16:33] subnetmarco commented on #1604
This will be implemented by the `http` support in our `TrafficRoute` policy.

[2021-03-02 17:47] ludov04 opened #1620 "Dataplane doesn't reconnect to changing control plane IP"
### Summary

- It seems that in particular scenarios, some DP don't receive updates anymore from the CP. That result in outages when a service deploys and some of the Kong's DP are not receiving the new IP adresses for that service
- After some digging, we think that it might be related to how the DPs are resolving the CP IP adresses.
- Our CP is using the Service Discovery feature of ECS, like it

[2021-03-02 23:24] bdecoste opened #1622 "expose route.auto_host_rewrite through kuma api"
### Summary

Expose route.auto_host_rewrite through kuma api. With transparent mode the host header will be serviceName.mesh which will cause requests to a service that require the correct host header to fail.

https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/route/v3/route_components.proto#envoy-v3-api-field-config-route-v3-routeaction-auto-host-rewrite

### Steps To Reproduce

1. Enable

[2021-03-02 23:32] bdecoste opened #1623 "support auto discovery of mesh services to remove .mesh requirement for transparent mode"
### Summary

Support auto discovery of mesh services to remove .mesh requirement for transparent mode. Instead of requiring the `.mesh` (or `KUMA_DNS_SERVER_DOMAIN`) for DNS resolution and routing of transparent mode services. For example, create an external service to `httpbin.org` named `httpbin`. Instead of requiring `httpbin.mesh` allow for routing to the envoy `httpbin` cluster using `httpbin

[2021-03-03 20:47] sudeeptoroy opened #1626 "chrome fails to load the kuma UI"
looking at the console i can see 2 errors:
1. TypeError: Cannot read property 'substring' of null
2. uncaught (in promise) TypeError: Cannot read property 'split' of null.

[2021-03-04 00:01] aaronhmiller opened #1627 "document which images must be pulled"
### Summary

When installing into a secure network, Kuma pulls down multiple images from different locations. This will fail without either:
 1. adding those domains to an allow list
 2. pulling all those images and placing them on a secure image repository

Both need a list of what images are in the chart(s) and their domains.

### Steps To Reproduce

1. Be behind a firewall
2. Attempt to install

[2021-03-04 11:01] nickolaev commented on #1623
This can be supported once we have Envoy DNS by @lahabana.

[2021-03-04 17:08] bdecoste opened #1632 "Support latency-based fail-fast"
### Summary

Provide a mechanism (e.g. load-balancer plugin) where a DPP to a service will fail-fast (e.g. remove an offending endpoint from a lb cluster) when a configurable number of previous requests to that endpoint have exceeded a configurable latency threshold. The endpoint would be added back to the lb rotation after some configurable time.

L4 and L7 latency

[2021-03-04 17:10] bdecoste opened #1633 "Expose all Envoy health_check parameters through Kuma API"
### Summary

Expose all Envoy health_check parameters through Kuma API. The following are not currently exposed and require a ProxyTemplate:

interval_jitter_percentage
no_traffic_interval
event_log_path
always_log_health_check_failure

[2021-03-04 17:13] bdecoste opened #1634 "Expose route.host_rewrite(v2)/route.host_rewrite_literal(v3) via Kuma API"
### Summary

Expose route.host_rewrite(v2)/route.host_rewrite_literal(v3) via Kuma API. These are not currently configurable and required for some edge cases to control the host header sent to services requiring a specific host value.

[2021-03-04 17:56] lahabana commented on #1623
Yes this should be possible. Here's the spec: https://github.com/kumahq/kuma/blob/master/docs/proposals/dns-using-envoy.md . Let me know if you think this doesn't work out

[2021-03-04 18:32] #413 closed

[2021-03-05 09:48] #1622 closed

[2021-03-08 08:56] jakubdyszkiewicz opened #1651 "Remove Envoy API deprecation"
### Summary

Follow up of https://github.com/kumahq/kuma/pull/1642

Drop deprecated options when we drop Envoy 1.16.x support.

Nice to have, build an infrastructure to produce Envoy config that depends on Envoy version. Implementation draft:
* Put DP version in DataplaneMetadata structure
* Change interface of all Configure(X) of envoy configurers to Configure(X, EnvoyVersion)
* Use proper Envoy

[2021-03-09 14:51] jakubdyszkiewicz commented on #1620
Hey,

thank you for such a detailed report.
I was able to reproduce a problem. I think we did not catch it because we were always deploying it as 1 instance or behind an LB which had 1 IP or on Kubernetes which has also 1 IP (ClusterIP of Service).

It seems like a problem in Envoy itself https://github.com/envoyproxy/envoy/issues/15380 I'm in touch with the community to figure out if this is expe

[2021-03-10 02:40] ericmustin opened #1656 "add Zipkin shared_span_context Configuration"
### Summary
👋 Hello, would y'all take a PR to add support for configuring [shared_span_context](https://github.com/envoyproxy/envoy/blob/1d1b708c7bf6efa02c41d9ce22cbf1e4a1aeec2c/api/envoy/config/trace/v3/zipkin.proto#L63) on the [`zipkin` tracing configuration](https://github.com/kumahq/kuma/blob/d24b69d660662a06af519c1ef007f1f965d46278/pkg/xds/envoy/listeners/v2/tracing_configurer.go#L59-L64)?

h

[2021-03-10 11:39] jakubdyszkiewicz commented on #1656
Hey @ericmustin

Sounds reasonable to add it, feel free to send a PR!

[2021-03-10 16:59] bdecoste opened #1658 "kumactl delete does not support external-service"
### Summary

kumactl delete does not support external-service

### Steps To Reproduce

1.
[code]
2.
[code]

[2021-03-10 19:21] Cephei commented on #801
Will this be re-opened and addressed for TrafficPermission sources? According to the latest docs: `For the time being the sources field only allows the service tag. This limitation will be removed in the future.`

It would be nice to use tags in the `sources`.

[2021-03-10 21:37] ericmustin commented on #1656
@jakubdyszkiewicz pushed up a pr, lmk what u think

[2021-03-10 22:31] notsofunctional opened #1662 "Kuma Dashboard doesn't show the correct services status on 1.1.0"
### Summary

I updated 3 hours ago Kuma, everything went fine, then i redeployed my DPs to update kuma-dp, DPs appear to be online but services don't:

![image](https://user-images.githubusercontent.com/3385668/110706683-df4b7b00-81bd-11eb-8fe5-334a2a033ae0.png)

but using CLI they appear online:

![image](https://user-images.githubusercontent.com/3385668/110706745-f38f7800-81bd-11eb-9b38-6cf54ee4

[2021-03-11 09:22] #1656 closed

[2021-03-11 12:43] #1658 closed

[2021-03-14 13:52] reenolesigues opened #1680 "Warning on kuma mesh creation resulting to missing pods"
### Summary

SUMMARY_GOES_HERE

### Steps To Reproduce

1. Run `kumactl install control-plane | kubectl apply -f -`
2. Observe warnings
3. Run `kubectl get pod -n kuma-system`
4. Notice `No resources found in kuma-system namespace`

### Additional Details & Logs

- Version

- Error logs

- Platform and Operating System: kubernetes | Ubuntu 20
- Installation Method: kumactl | kubernetes

![kuma war

[2021-03-14 13:57] reenolesigues commented on #1680
I believe the fix would be updating those warning parameters from /v1beta1 to /v1 and adding/updating the parameter pre-requisites.

[2021-03-15 09:08] ericmustin commented on #1656
just chiming in to say i tested the pr here and this does work as expected:

And now look, some nice, connected distributed traces of kong/kuma/envoy/nodejs in zipkin+opentelemetry, being displayed in datadog :)

<img width="997" alt="Image 2021-03-15 at 4 26 56 AM" src="https://user-images.githubusercontent.com/14250318/111129044-00a8c000-854c-11eb-8dc3-c6832d11482b.png">

[2021-03-15 09:25] nickolaev commented on #1662
Solved in 1.1.1

[2021-03-15 09:25] #1662 closed

[2021-03-15 12:13] nikita15p commented on #759
+1

[2021-03-15 12:14] nickolaev commented on #1680
Might be relevant to https://github.com/kumahq/kuma/pull/1108

[2021-03-15 13:00] austince commented on #1680
I don't think we have an issue yet for the webhooks @nickolaev, I'll make one.

[2021-03-15 14:23] austince opened #1687 "Upgrade Webhook Resources to admissionregistration.k8s.io/v1"
### Summary

As noted in https://github.com/kumahq/kuma/issues/1680, the [`ValidatingWebhookConfiguration`](https://github.com/kumahq/kuma/blob/5785ce35cfa99083fff09a1a645f11129e2a0cfb/deployments/charts/kuma/templates/cp-webhooks-and-secrets.yaml#L122-L204) and [`MutatingWebhookConfiguration`](https://github.com/kumahq/kuma/blob/5785ce35cfa99083fff09a1a645f11129e2a0cfb/deployments/charts/kuma/tem

[2021-03-15 14:48] nickolaev commented on #1680
I addressed the webhook upgrade in the last commit to #1108 it's a small change so I hope we can squeeze it there too.

[2021-03-16 05:04] codyde opened #1689 "Integrate with Kong Ingress Controller"
### Summary

When mTLS is enabled on a Kuma/Kong Mesh cluster, an ingress resource needs to be used in order to connect to services within the mesh. Out of the box this isn't provided today however it would be relatively straight forward to integrate Kong's ingress controller using kumactl. A command such as `kumactl install kong-ingress | kubectl apply -f -` would be a pretty great user experienc

[2021-03-16 14:30] PinOliver commented on #1689
@codyde  Hi, I am facing this exact issue. Could you please elaborate how to make it work or point me there.
Thanks!

[2021-03-16 15:22] subnetmarco commented on #1623
@nickolaev @lahabana what is the status on the Envoy DNS work?

[2021-03-16 15:25] bdecoste opened #1692 "support persistence of transparent mode firewalld rules"
### Summary

Support persistent firewalld rules (vs persistent iptables rules) for RHEL7. Currently transparent mode only persists iptables rules and RHEL7 environments need to reinstall transparent on reboot.

[2021-03-16 16:34] ludov04 commented on #1620
Hi!
We deployed a LB in front of our kuma-cp instances but we are still seeing issues around services not receiving updates from the control plane.

It might be another problem tho, we haven't had the time to dig deep yet.

Thanks!

[2021-03-16 17:04] somejavadev opened #1693 "Kuma Conrol Plane Stuck on creating default mesh"
### Summary

I am trying to create the kuma control plane on a GKE cluster by following the standalone instructions as detailed [here](https://kuma.io/docs/1.1.1/deployments/stand-alone/) although after everything has completed it seems kuma is stuck at creating the default mesh. The control plane logs indicates

![image](https://user-images.githubusercontent.com/6507120/111347237-ab71c900-8687-11

[2021-03-16 18:18] codyde commented on #1689
Hi @PinOliver! Currently this "integrated" option isn't in Kuma. This issue is a feature request to have the option added to kumactl.

Getting the Kong Ingress Controller configured out of band isn't too bad though today. This blog roughly covers the process - https://konghq.com/blog/exposing-kuma-service-mesh-using-kong-api-gateway/ - give that a read and feel free to ping back if you have any is

[2021-03-17 05:18] bartsmykla commented on #1626
Hi @sudeeptoroy could you give us some more information?
- What is the version of kuma you are using?
- Is there anything interesting in the `Network` tab of your browser?
- Does your browser points at any particular object/element which is `null`?

[2021-03-17 06:52] bartsmykla opened #1696 "Introduce EKS as a target for e2e tests in our CI/CD"
I'm currently working on introducing EKS as a target for some of our e2e tests in our CI/CD workflow. This issue will be a summary of my work, with some comments, conclusions etc.

Ref PR: https://github.com/kumahq/kuma/pull/1684

## Requirements

As currently our e2e tests (especially hybrid - universal/k8s ones) are designed in a way there are some requirements of a way to have network communica

[2021-03-18 13:32] bdecoste opened #1699 "destination tag matching is not supported"
### Summary

The doc here:
https://kuma.io/docs/1.1.1/policies/general-notes-about-kuma-policies/
indicates that destination matching is supported for arbitrary tags (this is supported for sources). However, it is not supported for destinations.

### Steps To Reproduce

[code]

[code]

[code]

[code]

[2021-03-18 14:06] bdecoste opened #1700 "HTTP health checks fail"
### Summary

HTTP health checks fail resulting in unhealthy endpoints:

[code]

### Steps To Reproduce

Tested with external services for httpbin.org and postman-echo.com. Both support http/2.

[code]

[code]

[2021-03-18 16:00] bdecoste commented on #1700
Appears this is due to `"codec_client_type": "HTTP2"` hardcoded into the http health checks

[2021-03-22 13:14] #1700 closed

[2021-03-24 20:56] jgrund opened #1721 "Add ability to pass --concurrency to envoy"
It would be useful to be able to set the `--concurrency` flag via `kuma-dp` when it invokes `envoy`. It does not appear possible to customize this value otherwise.

[2021-03-25 12:01] #888 closed

[2021-03-25 13:15] austince commented on #1687
Was left out of #1108.

See https://github.com/kumahq/kuma/pull/1108#issuecomment-803293602

[2021-03-25 13:27] jgrund commented on #1721
For some more background, I have some low-traffic services that I am deploying on a node with 255 hardware threads.

Envoy allocates a worker thread for every hardware thread in the system by default.
Each hardware thread will have around 4 file-descriptors open. Overall, each envoy instance ends up taking 1050 file descriptors on this system (1,020 for the threaded workers + some overhead).

I do

[2021-03-25 13:30] subnetmarco commented on #1689
I believe this can be addressed quickly in the next release.

[2021-03-25 13:33] bartsmykla commented on #1693
Hi @somejavadev, I will try to reproduce it and come back to you

[2021-03-26 12:33] bdecoste opened #1724 "Use consistent port (9901) for envoy admin api/console between k8s and universal"
Currently the ports are different ... k8s uses the 9901 standard and universal uses 30001.

[2021-03-26 15:06] bartsmykla commented on #1693
@somejavadev so I managed to reproduce the issue, and I find out the problem is related to control-plane not being able to communicate with k8s api-server, which is related to the "hardened" configuration of the cluster.

I'm not an expert in GCP so I didn't manage to find a fix for you, as I don't know enough the flags used to create cluster, but will do my best to work on it next week.

I wanted

[2021-03-29 11:55] #1692 closed

[2021-03-29 14:46] subnetmarco commented on #1689
It should probably be `kumactl install kong-gateway` so that we don't confuse it with our own Kuma ingress object.

[2021-03-29 15:12] lahabana opened #1737 "Dataplane with healthcheck will never go unhealthy if dp goes away while cp is down"
### Summary

This tested with Universal with postgres.

### Steps To Reproduce

1. Start the stack in tools/e2e/examples/docker-compose with postgres [extra conf for PG](https://gist.github.com/lahabana/d07dd75455fd4ed7441c36bcddc4a633)
2. Start everything: `make deploy/example/docker-compose -C ../../../..`
4. Stop cp: `docker-compose stop kuma-control-plane`
5. Stop backend v2 sidecar: `docker-c

[2021-03-29 15:35] lahabana commented on #1737
I guess we want to avoid doing a DB write on every healthcheck.

Could there maybe a way to add a job on CP startup with a timeout that marks DPs that haven't reconnected after sometime as unhealthy?

Another option that may solve a few lifetime issues is to persist the streamId/InstanceId  in the DB.
This would enable us to actually detect old dataplanes that don't seem to have an active connecti

[2021-03-30 14:20] subnetmarco commented on #1724
@kumahq/kuma-maintainers this should be an easy fix?

[2021-03-31 11:53] lobkovilya opened #1738 "Kuma CP restart may cause stale Envoy configs on Universal"
### Summary

The problem may happen when `dp-lifecycle` mechanism is used (Dataplane resource is explicitly passed to `kuma-dp run ...`). During Kuma CP restart `unregistration` may happen after `registration` which effectively leaves the store without Dataplane resource.

Let's say we have 2 instances of Kuma CP: `kuma-cp-1` and `kuma-cp-2`. We have 1 `kuma-dp` which is connected to `kuma-cp-1`.

[2021-04-01 15:16] bdecoste opened #1742 "Unable to invoke a service through a transparent universal mesh that happens to be running locally"
### Summary

I have a universal transparent mode DPP and I have service2 deployed on that VM. service2 is exposed through that DPP. All good. But that envoy doesn’t get a listener for the IP of service2. CP DNS correctly resolves service2.mesh to 240.0.0.4 but the DP config has no inbound setting for 240.0.0.4. So I can’t call a service through the mesh that happens to be running locally.

### Ste

[2021-04-02 07:45] #1620 closed

[2021-04-02 13:30] nbrink91 opened #1750 "Helm Control Plane Annotations Template Invalid"
### Summary

Helm chart template is generating invalid cp service template when modifying annotations.

### Steps To Reproduce

1. Add annotation to .Values.controlPlane.service.annotations
2. Generate the helm template `helm template --debug -n kuma-system kuma-system .`
3. Review the kuma/templates/cp-service.yaml output and you will see the additional incorrect formatting with an extra indent.

[2021-04-02 16:02] bdecoste opened #1752 "config to modify service names"
### Summary

I'd like to deploy a service to both a k8s zone and a universal zone and configure the service name. Currently the k8s service is: `kuma.io/service: <name>_<namespace>_svc_<port>` so I need to use this for the universal service.

Which doesn't make sense for a universal service since there is no namespace.

[2021-04-03 12:28] bdecoste opened #1754 "EDS returning envoy IP not service IP for universal service"
### Summary

EDS is returning the envoy address instead of the service address. This causes traffic, including health checks, to go back through envoy instead of directly through the service.

### Steps To Reproduce

Below, envoy should have `127.0.0.1:5000` not `172.31.29.90:8080` for the `echo-service_default_svc_8080` cluster

[code]

[code]

### Additional Details & Logs

[2021-04-05 03:07] korabum opened #1755 "Feature Request: Filter Envoy Metrics"
### Summary

The default metrics generated by envoy proxy is relatively big. In a kubernetes cluster with around 200 services inside the kuma mesh, a single call to `/metrics` resulted in around 7MB of metrics data. This requires a lot of resource from prometheus to scrape all of the envoy metrics on the cluster. It would be nice if we can have a way to filter only the metrics that we actually nee

[2021-04-05 09:37] lobkovilya commented on #1754
Okay, probably this makes sense, but right now regardless of data plane proxy same services have the same `ClusterLoadAssignments`. It allows us to cache it pretty simple. If you need this only for HealthChecks then I think you can look at [Universal Probes](https://kuma.io/docs/1.1.1/documentation/health/#universal-probes), they can probe service address instead of probing the proxy.

[2021-04-05 10:46] #1750 closed

[2021-04-05 11:25] lobkovilya commented on #1737
Thanks for spotting this, we've noticed the same problem with Zone statutes. The bug happens because of the way we handle `DataplaneInsight.Subscriptions`. Kuma considers the Dataplane is online if it has at least one subscription without `DisconnectTime`.

It would be great to reduce the number of writes to DB, but I'd start with the simpler fix: every time Kuma creates a new subscription for the

[2021-04-05 13:10] bdecoste commented on #1754
The problem is bigger than health checks, the actual requests are also going back through envoy. The flow is this for requests:

- Client makes a request which envoy then matches to the cluster: `cluster 'echo-service_default_svc_8080' match for URL '/get'`
- The endpoint is selected and the request is routed there: `connecting to 172.31.29.90:8080`
- Envoy then gets that request AGAIN and matches

[2021-04-05 13:39] bdecoste commented on #1754
The more I think about this I’m not sure this is a bug. In a normal request you’d have `client -> localenvoy -> remoteenvoy -> service`. But here we have` client -> localenvoy -> localenvoy -> service`. EDS has to send the remote IP:PORT to all of the envoys. Just so happens that the local envoy gets itself.

[2021-04-05 13:42] bdecoste commented on #1754
Not a bug - working as designed.

[2021-04-05 13:49] bdecoste commented on #1754
Low priority optimization for invoking local services through the mesh

[2021-04-06 12:17] #1696 closed

[2021-04-07 17:28] bdecoste opened #1776 "expose NodePort port in helm charts (e.g. for mesh ingress)"
I'd like to be able to specify the NodePort port via helm for the mesh ingress service

[2021-04-08 06:55] #1738 closed

[2021-04-08 12:30] bdecoste opened #1782 "support generic tags (e.g. zone) for TrafficPermission source"
### Summary

I'd like to use source tags for TrafficPermissions:

[code]

### Steps To Reproduce

[code]

[2021-04-08 22:40] bdecoste opened #1787 "PostgreSQL password in clear text"
### Summary

Password should not be in clear text

### Steps To Reproduce

`2021-04-08T22:13:16.512Z	INFO	kuma-cp.run	Current config {"apiServer":{"auth":{"allowFromLocalhost":true,"clientCertsDir":"/home/ec2-user"},"corsAllowedDomains":[".*"],"http":{"enabled":true,"interface":"0.0.0.0","port":5681},"https":{"enabled":true,"interface":"0.0.0.0","port":5682,"tlsCertFile":"/home/ec2-user/ip-172-31-

[2021-04-08 22:48] bdecoste opened #1788 "Support yaml configuration for rest api"
### Summary

kumactl supports yaml while the rest api supports json. I'd like to be able to use the same config/format for each.

[2021-04-09 16:36] bdecoste opened #1795 "Support ingress annotations (kuma.io/ingress-public-address and kuma.io/ingress-public-port) in helm"
### Summary

I'd like to provide ingress annotations (kuma.io/ingress-public-address and kuma.io/ingress-public-port) in helm

https://github.com/kumahq/kuma/blob/master/deployments/charts/kuma/templates/ingress-deployment.yaml#L23-L24

[2021-04-09 22:15] austince commented on #1776
Are you looking for just the API server ports? Or the various others as well?

[2021-04-09 22:17] austince commented on #1776
I think an `ingress.service.nodePort` with a `nil` default value would be a good addition here. Any bandwidth to open a PR @bdecoste ?

[2021-04-09 22:19] austince commented on #1795
I think an `ingress.extraAnnotations` value with an empty object default would be good here – any bandwidth to make that PR?

[2021-04-09 23:44] austince commented on #1627
I believe these are documented sufficiently for now, but am open to adding more places if you'd like + they make sense. Closing for now.

[2021-04-09 23:44] #1627 closed

[2021-04-10 16:42] cThrice commented on #1455
This may be a bit late for you, but all the same:

If you have the ability to change your OS to RHEL - https://developers.redhat.com/blog/2019/06/24/go-and-fips-140-2-on-red-hat-enterprise-linux/

This combo helps solve the entire FIPS 140-2 problem set.  Upon enabling FIPS mode it ensures all controls are met ( Including ciphers )

Additional references - https://access.redhat.com/documentation/e

[2021-04-13 08:28] #1795 closed

[2021-04-13 15:51] jakubdyszkiewicz commented on #920
done

[2021-04-13 15:51] #920 closed

[2021-04-13 17:36] bdecoste opened #1810 "broken link at https://kuma.io/docs/1.1.2/documentation/cli/#kumactl"
### Summary

The link at **_used to generate Dataplane Token is bad_**: https://kuma.io/docs/1.1.2/documentation/cli/#kumactl

[2021-04-13 18:07] bdecoste commented on #1810
The link has been broken since 1.0.7

[2021-04-14 18:48] jgrund opened #1820 "Add warn log-level to kuma-dp"
`kuma-dp` currently supports the following for `--log-level`:

[code]

I would like the ability to skip `info` level logging and just show `warn` and higher severity logs.

[2021-04-17 02:01] bdecoste opened #1840 "Toggle of mesh.routing.localityAwareLoadBalancing requires remote CP restart"
### Summary

if you toggle `mesh.routing.localityAwareLoadBalancing` then you have to restart the remote CP for the config to take effect. Tested in multizone Universal.

[2021-04-20 14:55] bdecoste opened #1856 "Universal zone shows Online when the CP is down"
### Summary

In the attached image the universal zone CP is not running but still shows Online

### Steps To Reproduce

1. Create multizone deployment with a universal remote zone
2. Stop the universal remote CP

![Screen Shot 2021-04-20 at 7 55 09 AM](https://user-images.githubusercontent.com/688754/115417788-c61aee80-a1ad-11eb-9299-72d1db37e06f.png)

[2021-04-20 20:49] austince commented on #1810
Thanks for reporting, closing in favor of https://github.com/kumahq/kuma-website/issues/418

[2021-04-20 20:49] #1810 closed

[2021-04-21 00:52] subnetmarco commented on #1755
I think this is a great feature request. We will prioritize it next week.

[2021-04-21 11:16] #1387 closed

[2021-04-26 17:40] lahabana opened #1883 "Mark dps as `healthy: unknown` if dps are not connected to envoy"
This started in [this slack thread](https://kuma-mesh.slack.com/archives/CN2GN4HE1/p1618567828142500).

From @lobkovilya:

Let’s look at 2 situations:
1. Envoy is running, Application is down. In this case HDS will work properly and you’ll see healthy: ready: false . So this Dataplane will be excluded from ClusterLoadAssignments and everything great. This case was a primary reason for introducing

[2021-04-26 19:29] markramach opened #1884 "Bintray Images Unavailable, New Location?"
### Summary

All kuma bintray images seem to be unavailable because of the decommissioning of the bintray registry. Is there a new location for these images? I can't find any details on new image locations.

### Steps To Reproduce

1. docker pull kong-docker-kuma-docker.bintray.io/kuma-cp:1.1.4

### Additional Details & Logs

[code]

[2021-04-27 10:43] lobkovilya opened #1886 "`kuma-prometheus-sd` doesn't work with MADs v1"
### Summary

Apparently conversion from `*observability_v1.MonitoringAssignment` to `[]*targetgroup.Group` happens with errors.
`kuma-prometheus-sd` receives 4 targets from Kuma Control Plane, but `kuma.file_sd.json` contains only 1 target.

### Steps To Reproduce

1. Run `kuma-prometheus-sd` with v1

[2021-04-27 13:21] austince commented on #1886
Thanks for reporting, will look into.

[2021-04-27 21:11] austince commented on #1884
I think you likely hit yesterday's BinTray brown-out: https://status.bintray.com/incidents/kh3zbvqkvj2c

BinTray is being sunset, so we are going to be moving the images in the coming months.

[2021-04-27 21:11] #1884 closed

[2021-04-27 22:28] austince commented on #1886
Were there errors in the log, or was the lack of targets the only indication something went wrong? Do you have the list of the 4 present DPs and produced `kuma.file_sd.json` by any chance?

I think there might be an issue with the [handler](https://github.com/kumahq/kuma/blob/19d3b806b63edf388d9a690be3282555cf1d8f5c/app/kuma-prometheus-sd/pkg/discovery/xds/v1/handler.go) using the `targetgroup.Gro

[2021-04-27 22:52] austince commented on #1886
Draft PR #1896 might address this, if it is the cause.

[2021-04-27 23:45] subnetmarco commented on #257
@austince it would be about installing and scaling Kuma in both standalone and multi-zone mode. @austince do you have any experience with operators?

[2021-04-28 11:19] bartsmykla commented on #1742
@bdecoste can you test if this PR: https://github.com/kumahq/kuma/pull/1900 fixes your issue?

[2021-04-28 13:02] #1742 closed

[2021-04-28 13:17] austince commented on #1884
See: https://github.com/kumahq/kuma/pull/1901

[2021-04-28 16:32] markramach commented on #1884
Thanks for the response. After I determined it was a brownout, I was able to resolve the following day. The sunset date on Bintray is May 1, 2021. So, I'm assuming the updates are days, not months away.

[2021-04-28 16:41] austince commented on #1884
Yes, we should be fully on Docker Hub now: https://hub.docker.com/u/kumahq

[2021-04-28 16:49] austince commented on #257
@subnetmarco in the sense that Kuma itself is an operator, yes, and another small one I've built. We'll be building a fully-fledged operator in the coming months at Ververica (i.e. integrates with [OpenShift's OLM](https://access.redhat.com/documentation/en-us/openshift_container_platform/4.1/html/applications/operators#olm-understanding-olm)).

[2021-04-29 08:24] jakubdyszkiewicz opened #1907 "Health checks and dashboard for connectivity between zones"
## Summary

Right now we have pretty good observability of a connection from Remote to Global. You can see easily see in Global that Remote is online or not.

The problem is that once everything zone is connected to global, we don't provide any tools to check connectivity from one zone to another.

### Observability

I'd like to have a dashboard in the GUI to see connectivity between zones. Someth

[2021-04-29 10:17] jewertow commented on #1256
I will work on this issue.

[2021-04-29 16:52] #1886 closed

[2021-04-29 21:42] bdecoste opened #1916 "expose reuse_connection in HealthCheck policy"
### Summary

Envoy's reuse_connection is not currently exposed in the Kuma HealthCheck Policy. I would like to be able to set this to false.

[2021-04-30 04:51] tharun208 commented on #1788
@austince I like to work on this

[2021-04-30 12:45] jakubdyszkiewicz commented on #1820
The problem with this is that there is no warning level in the logger that we are using. Maybe it's possible to print only errors.

What's the use case? Are we logging too much on info?

[2021-04-30 12:49] lahabana opened #1919 "Replace usages of `patrickmn/go-cache` with a better cache"
[patrickmn/go-cache](https://github.com/patrickmn/go-cache) has several issues:

- Doesn't have a bounded size
- Doesn't support much concurrency (only uses 1 shard mutex)
- Doesn't support async loading
- Doesn't have stats

We use this library 4 times:
- pkg/core/resource/manager/cache.go
- pkg/plugins/resources/k8s/caching_converter.go
- pkg/xds/cache/once/cache.go

We have these problems in al

[2021-04-30 12:53] jakubdyszkiewicz opened #1920 "Customize envoy CLI arguments --envoy-flag"
### Summary

Right now there is no way to customize Envoy CLI arguments.
We can introduce `--envoy-flag real_envoy_flag=value` to `kuma-dp` which will be then used when running Envoy

[2021-04-30 16:13] bdecoste opened #1927 "support multiple health checks per cluster"
### Summary

If I configure a TCP and HTTP health checks for the same kuma service(envoy cluster) only the TCP health check is configrured

### Steps To Reproduce

[code]

[code]

[2021-04-30 21:06] bdecoste opened #1928 "support kuma-prometheus-sd listening on multiple CPs"
### Summary

I'd like to run a single kuma-prometheus-sd against multiple control planes and have the resulting config aggregated into the single file. Currently only a single CP is supported.

[2021-04-30 21:33] subnetmarco commented on #1927
@lobkovilya thoughts?

[2021-05-03 05:15] bhiravabhatla commented on #1920
@jakubdyszkiewicz  Would like to take this up. I am new to kuma, would take sometime to go through the code base. I hope its ok.

[2021-05-03 13:47] lahabana opened #1931 "When using `kuma-dp run --dataplane` on global-cp there's no error"
### Summary

In the current setup doing something on a dp when on the global zone will be overwritten by KDS from the remote zone.
This behavior itself makes sense but we should either:

1. disallow by default (all requests would return an error unless a flag is setup as request parameter).
2. forward to the correct cp (unless a flag is set in which case it acts locally).

The current behaviour is

[2021-05-03 19:09] jgrund commented on #1820
`error` level would be fine.

I'm running within customer environments and would like to not show anything envoy / kuma related in the logs unless there is an issue.

[2021-05-04 08:23] jakubdyszkiewicz commented on #1928
Could you tell us more about the use case?

Are you talking about CPs from different remote zones or many standalone CPs?

[2021-05-04 08:29] jakubdyszkiewicz commented on #1927
Hey,

please take a look [how Kuma maches policies](https://kuma.io/docs/1.1.4/policies/how-kuma-chooses-the-right-policy-to-apply/). Only the most specific one matches.

It's true that right now we have a validation that `tcp` and `http` section is `oneof`, so you can pick only one of them in one policy.
I see that cluster supports many healtcheck so we could get rid of this validation and if use

[2021-05-04 08:38] bartsmykla commented on #1927
I don't think there is a valid reason, probably only my assumption the only one is valid at a time during implementation

I currently don't see any reason we couldn't get rid of this "requirement"

[2021-05-04 08:48] jakubdyszkiewicz commented on #1920
Awesome, go ahead

[2021-05-04 08:49] jakubdyszkiewicz commented on #1931
IMHO option 1.

I was pretty sure we have validation for this, so it sounds like a bug.

[2021-05-04 16:43] bdecoste opened #1939 "DataplaneOverview does not show metrics configuration"
### Summary

DataplaneOverview in the UI and resource do not show metrics configuration

### Steps To Reproduce

Run DPP with the following file:
[code]

Results in:
[code]

[2021-05-04 20:17] bdecoste opened #1942 "Support configuration of prometheus fields"
### Summary

I'd like to be able to configure/limit the fields created for prometheus queries. For example, kuma-prometheus-sd creates the following which has several duplicate singular and plural fields (e.g. kuma_io_zone, kuma_io_zones)

[code]

[2021-05-04 20:27] bdecoste opened #1943 "UI Overview inaccurately represents DPPs"
### Summary

1) Licensed DPPs = 13, DPPs = 16. Which can be interpreted as 3 are unlicensed. The 3 delta is from Ingress and Gateway DPPs but not clear from the UI
2) DPP indicates there are Offline DPPs but all are Online from the DPPs page

![Screen Shot 2021-05-04 at 1 26 51 PM](https://user-images.githubusercontent.com/688754/117065534-7fb0ae00-acdc-11eb-803b-923fc0d64e1f.png)

### Steps To Re

[2021-05-05 02:50] bhiravabhatla commented on #1920
@jakubdyszkiewicz  have a question :

* I see we already hard code few envoy args when starting envoy proxy - https://github.com/kumahq/kuma/blob/97ebe14a3d795c53c9ab43214616c4921116bf57/app/kuma-dp/pkg/dataplane/envoy/envoy.go#L152-L165 Can we just append the args received in cli flags to this slice.

* If yes, how do we handle a scenario if some one passes an argument which is already part of ha

[2021-05-05 06:44] bartsmykla commented on #1920
Hmm, I think we have to decide on order of precedence. I would vote to treat `--envoy*` flags as more important, but maybe if there is a clash, we could log a warning? Wdyt @jakubdyszkiewicz

[2021-05-05 08:45] jakubdyszkiewicz commented on #1943
Hey, this is Kong Mesh issue. Please create this in a proper repository. Thank you!

[2021-05-05 08:45] #1943 closed

[2021-05-05 10:38] jakubdyszkiewicz commented on #1920
Definitely, the option that `--envoy*` overrides the one that we generate. I don't think the warning is needed.

[2021-05-05 10:41] bhiravabhatla commented on #1920
Cool. Then if some one tries to overide config file - we would need a check if the config file exists or not before adding it to args - correct?

[2021-05-05 11:02] jakubdyszkiewicz commented on #1939
Hey, you've got wrong indentation, `metrics` should be on the root level, not in `networking`
https://kuma.io/docs/1.1.4/policies/traffic-metrics/#override-prometheus-settings-per-dataplane

[2021-05-05 11:02] #1939 closed

[2021-05-05 11:14] jakubdyszkiewicz commented on #1920
I'd implement it in the following way.
* Construct `map[string]string` of default args
* Add keys and values of the overrides (it will replace existing entries or create a new one if arg does not exist)
* Build slice of args from the map

[2021-05-05 14:51] bdecoste opened #1948 "ProxyTemplate links to envoy doc are broken in 1.1.4 doc"
### Summary

Links to Listeners, Clusters, etc are broken here: https://kuma.io/docs/1.1.4/policies/proxy-template/

[2021-05-05 15:35] thirdeyenick commented on #1461
Would it be possible to actually use the port which is defined in the k8s service automatically?

[2021-05-05 16:25] bdecoste opened #1949 "ProxyTemplate doc for adding lua filter is broken"
### Summary

Doc here is now outdated and broken. Latest envoy does not support v2: https://kuma.io/docs/1.1.4/policies/proxy-template/#examples

'@type': type.googleapis.com/envoy.config.filter.http.lua.v2.Lua

needs to be

'@type': type.googleapis.com/envoy.extensions.filters.http.lua.v3.Lua

Also, the inline_code is also broken:
`[2021-05-05 16:23:17.043][16353][info][lua] [source/extensions/fi

[2021-05-06 12:02] thirdeyenick commented on #1366
We would also like to have the kuma CRDs being namespaced. One idea we had was a global control plane per team (all of them deployed in one k8s cluster). That way we could actually update control planes per team and not all of them at once.

We also noticed that every remote control plane gathers all available mesh CA certificates and keys from the global control plane and stores them locally in t

[2021-05-06 12:54] jakubdyszkiewicz commented on #1366
Right now we are rethinking some design choices of Multizone. We definitely will take this into consideration

[2021-05-06 17:13] austince commented on #1787
Ok, thanks for the confirmation @tharun208 ! @bdecoste, please ping if this is not what you're seeing.

[2021-05-06 17:13] #1787 closed

[2021-05-06 17:17] austince commented on #1948
Replaced with https://github.com/kumahq/kuma-website/issues/428 – @bdecoste, please open website-related issues in `kumahq/kuma-website`.

[2021-05-06 17:17] #1948 closed

[2021-05-06 17:34] austince commented on #1949
Closing in favor of https://github.com/kumahq/kuma-website/issues/429

[2021-05-06 17:34] #1949 closed

[2021-05-06 18:55] sudeeptoroy opened #1961 "Capability to advertise address different from the actual bind address for dataplanes."
### Summary

Dataplane has a requirement that the address specified should be routable. For cases where kuma-dp runs in an overlay network the address is not public. This makes dataplane non reachable.
The ask is to enable additional optional advertise address in dataplane definitions so that kuma-cp can use this advertised address instead of address to reach the dataplane.

[2021-05-07 17:28] austince commented on #1928
This should be supported via [a native SD in Prometheus](https://github.com/austince/prometheus/pull/1) (by specifying multiple scrape jobs). In the meantime, what are the issues with running multiple sidecars, 1 per CP, with a unique `--output-file` flag? Is it just the overhead of multiple sidecars?

[2021-05-07 18:39] bdecoste opened #1965 "Create view of all zone/CP configs from the UI and admin api"
### Summary

Id like to be able to see/retrieve all of the zone CP configuration from the UI/AdminAPI

[2021-05-10 18:10] #1916 closed

[2021-05-13 14:18] austince commented on #1927
I think this was closed by #1951, please re-open if not.

[2021-05-13 14:18] #1927 closed

[2021-05-13 18:48] jewertow commented on #1782
It was implemented in #1902.

[2021-05-14 03:02] debu99 opened #1986 "Is it possible to add basic authentication for microservices?"
Does Kuma support adding basic authentication for microservices?

[2021-05-14 15:28] codyde commented on #1986
Hi debu99! Kuma itself doesn't support basic auth between services in the OSS product. I don't mean to plug the enterprise product on here at all - but we do have OPA integration in Kong Mesh which allows you to leverage JWT tokens in the service communication path, but I wouldn't call that basic authentication either. Kong Gateway has some authentication capabilities - so that might be an answer

[2021-05-14 20:56] subnetmarco commented on #1965
A list of YAMLs for every configuration?

[2021-05-15 09:08] debu99 commented on #1986
Thanks codyde, we already use Kong with basic auth for north & south traffic, since we would like to use kuma for east/west traffic, so we need to explorer is this possible, but anyway, thanks for the info, I will check the OPA

[2021-05-17 03:38] korabum commented on #1755
Hi @lobkovilya , thank you for the quick response and implementation!

The approach sounds great to me! I think it would also be nice if we can have the option to do this by adding a flag on `kumactl install control-plane`, considering we still have to uninstall and reinstall kuma every time we have to upgrade.

[2021-05-17 08:46] jewertow commented on #1256
@rucciva you can get service identity from the header `x-forwarded-client-cert`. This header has the following content:
[code]
So you can parse this header, get `URI` and retrieve name of the service.

I will come back to this feature the next week and I will implement headers proposed by @subnetmarco.

@slonka thank you very much for your hints. They were very helpful.

[2021-05-18 02:09] jgrund opened #2000 "`ads_cluster` + `STRICT_DNS` tries to resolve IPV6 addr"
### Summary

If the `ads_cluster` selects `STRICT_DNS`, it will try to resolve an IPV6 address every 5 seconds. This is because
`dns_lookup_family` defaults to `AUTO` when unset and `AUTO` [tries IPV6 first](https://www.envoyproxy.io/docs/envoy/latest/api-v3/config/cluster/v3/cluster.proto#enum-config-cluster-v3-cluster-dnslookupfamily).

If this occurs and the upstream server cannot resolve a loo

[2021-05-18 09:24] lahabana commented on #2000
This happens in the `template_v3.go` when bootstrapping.

[2021-05-18 10:16] jakubdyszkiewicz commented on #2000
I'd say this is by design. When we specify cp-address in kuma-dp this may be hostname that may or may not resolve to IPV6.

We can force IPV4 when IP of the `Dataplane#networking` is IPV4 just like we do for in-cluster communication between services. Would this be a viable option @nickolaev ?

[2021-05-19 09:35] #1450 closed

[2021-05-19 09:58] lahabana opened #2004 "gorouting Leak with StreamHandler"
We've recently noticed our multi-zone setup up leaking data.

Looking at the stack trace at 2 different times we see:
a) A lot of StreamHandler goroutines
b) A growing number of StreamHandler goroutines
c) The vast majority of the goroutines are stuck on `select`

[code]

After a little digging this is the likely issue: https://github.com/envoyproxy/go-control-plane/issues/429
We have similar code

[2021-05-19 10:20] lahabana commented on #2004
The hds fix is easy. The other fix is harder because newer versions of go-control-plane are dropping xds v2 support.

Also mads,mux and kds still seem to be using v2 versions of the discovery api.

[2021-05-19 15:32] lahabana commented on #1461
This will be possible with: #1978 so closing this

[2021-05-19 15:32] #1461 closed

[2021-05-19 16:13] bdecoste opened #2007 "TrafficLog v2"
### Summary

I'd like to use a TrafficLog policy (i.e. Envoy Access Logging) to enable access logs for destination services/DPPs. Currently only source DPPs are enabled for access logging via a TrafficLog policy.

Only outbound listeners are configured for access logging.

### Steps To Reproduce

Note in the attached config_dump that inbound:echo-service_default_svc_8080 is not configured for acce

[2021-05-20 08:03] lahabana commented on #2004
Still need to update to latest go-control-plane to have the bigger part of the fix.

[2021-05-20 13:05] gerardborst opened #2014 "Ingress dataplane on universal doesn't listen on public ip"
### Summary
We are doing a POC of kuma in multi zone mode, at this moment with 1 zone in a k8s cluster in minikube and the other on ubuntu vm's in vagrant.
It looks as if the ingress in the Universal zone doesn't listen on the correct public ip.

### Steps To Reproduce
We are using the Kuma Demo counter as a test app.

1. global and remote control plane with universal deployment on ubuntu machines

[2021-05-20 21:11] bdecoste opened #2015 "DP garbage-collector shouldn't be running in Global"
### Summary

If a DPP is registered with the Zone CP while the Global CP is offline the Zone CP gets stuck in a garbage-collector loop when the DPP is removed. The problem is that the Global CP doesn't get to persist the DPP so when the Zone CP tries to delete it from the Global CP during cleanup, the delete fails, the Zone CP retries, and loops forever.

[code]

### Steps To Reproduce

1. Set Zon

[2021-05-20 21:15] bdecoste opened #2016 "I'd like to be able to configure exposing the full Envoy Admin Console on 0.0.0.0"
### Summary

Currently, the full Envoy Admin Console is only exposed on localhost and an auth token is requires tor access the Envoy Admin Console on 0.0.0.0. I'd like a configuration option to expose the full admin console on 0.0.0.0 without the token requirement.

[2021-05-20 21:17] bdecoste opened #2017 "In GUI, DPP.All shows Type=Standard for all DPP Types"
![Screen Shot 2021-05-20 at 2 17 12 PM](https://user-images.githubusercontent.com/688754/119049999-1e443c80-b976-11eb-9c66-6975eb774e9b.png)
![Screen Shot 2021-05-20 at 2 16 57 PM](https://user-images.githubusercontent.com/688754/119050000-1f756980-b976-11eb-90df-bf5a9e15f307.png)

[2021-05-21 07:19] thirdeyenick commented on #2014
I actually had the same issue when testing this in universal mode. The kuma-dp doesn't actually bind to the address you set in `publicAddress`. It only announces to other ingress-dp's that traffic should be sent to this public address. I had to create some iptables rules on the VM which basically NAT the traffic coming in on the public IP to the private IP and port where the kuma-dp was listening.

[2021-05-21 17:21] bdecoste opened #2023 "DPP w/invalid or missing CA cert should fail instead of endless error loop"
### Summary

If a DPP starts with a missing or invalid CA cert, both the DPP and CP get in an endless error loop. The DPP should fail and exit as a retry isn't going to ever succeed:

DPP:
[code]

CP:
[code]

### Steps To Reproduce

1. ```
[root@ip-172-31-2-167 ~]# env | grep KUMA
KUMA_GENERAL_TLS_KEY_FILE=/home/ec2-user/ip-172-31-2-167.us-east-2.compute.internal.key
KUMA_DP_SERVER_TLS_KEY_FILE=/h

[2021-05-24 11:27] bartsmykla commented on #1856
@bdecoste is it still the issue? I can't reproduce it on the newest version

[2021-05-25 10:40] sudeeptoroy opened #2041 "Support access token on kumactl"
Kuma-cp may be protected behind a oauth server. Kumactl would need support for it to be configured with access token. Access token can be created out of band and supplied as argument to kumactl.

[2021-05-25 11:18] jakubdyszkiewicz commented on #2041
This effectively means that we need to send an extra header, right?

I'd vote to code this in a more generic way like "add header to requests sent by kumactl". We don't have built-in OAuth on Kuma CP right now and I'd like to avoid confusing users that there is one.

[2021-05-25 13:54] gerardborst commented on #2014
I see now, but in k8s it's working out of the box so I think, IMHO, this should also be the case with Universal or if that is completely impossible it should at least be explained in the docs.

[2021-05-26 00:22] subnetmarco commented on #885
This is in progress as we speak by @jakubdyszkiewicz will ship next week.

[2021-05-26 00:25] subnetmarco commented on #1755
I also think that `filter` should be an array, in case the user wants to include multiple different patterns.

[2021-05-26 05:03] bartsmykla commented on #1626
@sudeeptoroy is it still an issue?

[2021-05-26 05:06] jpeach opened #2044 "Move the install-cni image to the kumahq Docker organization"
### Summary

[code]

I expect that this image ought to be hosted in the https://hub.docker.com/u/kumahq Docker organization along with other Kuma images.

[2021-05-26 08:51] bartsmykla opened #2046 "[Summary] Issues on GKE (kuma-cni and kuma-init)"
### Summary

Kuma is not working on GKE with Kubernetes versions 1.19 and above. There are two issues which have the same root cause. One issue is with the `kuma-init` container failing. The second one is with `kuma-cni` which is failing to configure network for new containers.

Both of the issues are present only on GKE clusters with worker nodes using image `COS_CONTAINERD`. The problem is highl

[2021-05-26 11:15] bartsmykla commented on #2046
Following up.

I found that the newest versions of the `COS` images should have this module enabled, according to: https://cos.googlesource.com/cos/overlays/board-overlays/+/7c1f05c2df5afaecac577d464a63b88a2d28092d and https://cloud.google.com/container-optimized-os/docs/release-notes#cos-dev-93-16340-0-0 in the newest versions of this image

[2021-05-27 14:30] #2046 closed

[2021-05-28 01:15] jpeach opened #2054 "CI: update golangci-lint configuration"
Suggest that we can update the golangci-lint configuration to be a bit more aggressive with the set of linters that it runs:

[code]

Sample run https://gist.github.com/jpeach/e9f85f74af09b56c87159e6940712ce8

- [x] #2458
- [x] #2459

[2021-05-28 01:19] jpeach commented on #2054
gosec is a bit hit&miss, but it does point out a useful TLS versioning setting.

[2021-05-28 04:10] nhamlh commented on #1693
@somejavadev could you please try re-create control-plane deployment with hostNetwork: true ?

[2021-05-28 06:29] jpeach opened #2058 "CI: add codecov Github App"
It would be nice to add the Github [coveralls action](https://github.com/marketplace/actions/coveralls-github-action) to the repository. This gives a visualization of the changes in code coverage for each PR, which I have found helpful in maintaining test coverage.

[2021-05-28 06:31] jpeach opened #2059 "CI: add golangci-lint Github action"
Consider configuring the [golangci-lint](https://github.com/golangci/golangci-lint-action) Github action in the repository. Although `make check` already runs golangci-lint, the Githib integration shows issues in review comments on the diff screen, which improves readability and visibility.

[2021-05-28 14:10] nikita15p opened #2063 "support subca as provided ca for mtls"
### Summary

Currently only self signed provide subca is allowed. With this support, any subordinate ca not necessarily self signed can we configured.

### Steps To Reproduce
NA

### Additional Details & Logs

- Version NA
- Error logs NA
- Configuration NA
- Platform and Operating System
- Installation Method (Helm, kumactl, AWS CloudFormation, etc.)

[2021-05-28 14:10] nikita15p commented on #2063
I am planning to take this up.

[2021-05-31 03:44] jpeach commented on #318
If the source of truth for the API is protobuf, can [protoc-gen-openapi](https://github.com/google/gnostic/tree/master/apps/protoc-gen-openapi) be used to generate a useful OpenAPI spec?

[2021-05-31 14:37] #885 closed

[2021-06-01 00:19] jpeach opened #2073 "Kuma release tags don't match Go module versioning"
### Summary

The Kuma release tags don't work correctly with Go module versioning, making it difficult to write code that uses the Kuma API.

### Steps To Reproduce

Importing the unversioned API module:
[code]

Importing a release tag:
[code]

The modfile doesn't understand what the version is:
[code]

I'm pretty sure that versioning the API module would work right if the version tag was "v1.1.6"

[2021-06-01 08:26] #2041 closed

[2021-06-02 04:44] bartsmykla opened #2080 "Let kuma-init to run with --verbose flag"
### Summary

As a summary of last discussion on our community slack and a result of my last investigations here: https://github.com/kumahq/kuma/issues/2046 I think we should let us run `kuma-init` with `--verbose` flag which would show more information about iptables etc. without manually changing https://github.com/kumahq/kuma/blob/19a906795d47ff0006ab62e12211b48204ad5a0d/pkg/plugins/runtime/k8s/

[2021-06-02 09:13] jakubdyszkiewicz opened #2081 "Validators in proto definitions"
### Summary

The current situation about validators in .proto is awkward. We tried using this back in the days and it was very inconvenient - error messages were not user-friendly. Also, it was not that flexible so we ended up writing our own validators. Back when we introduced validators for the first time, the project lead wanted to keep proto validators.
I think we may need to revisit this deci

[2021-06-02 09:45] gerardborst commented on #2014
It is also possible to use
[code]

[2021-06-03 23:01] jpeach opened #2087 "Circular dependency in the Istio plugin module"
### Summary

[code]

### Steps To Reproduce

1. try to tidy go modules in the istio plugin

### Additional Details & Logs

The Istio plugin has a dependency on the top-level kuma module in `root.go`:

[code]
And Kuma has a dependency on the Istio plugin:

[code]

[2021-06-03 23:06] jpeach opened #2088 "The `tidy` build target doesn't tidy all the modules"
### Summary

If you do `make tidy`, it only runs `go mod tidy` on the modules in `. ./api/ ./pkg/plugins/resources/k8s/native`.
I was expecting it to be able to tidy all the modules in the repository.

xref #2087

[2021-06-03 23:15] jpeach commented on #2088
xref #2069
xref #2068
xref #2066
xref #2065
xref #2031
xref #2030
xref #2029
xref #2028
xref #2025

[2021-06-03 23:24] jpeach commented on #2088
This updates the tidy target, but runs into module dependency problems

[code]

[2021-06-04 08:01] jpeach opened #2091 "ulimit tests fail on Darwin"
### Summary

[code]

### Steps To Reproduce

CI on master

### Additional Details & Logs

https://go-review.googlesource.com/c/go/+/246658/

[2021-06-04 08:02] jpeach commented on #2091
I'll add a per-platform constant to clip the max rlimit (to 4K on Darwin).

[2021-06-04 12:43] jakubdyszkiewicz opened #2097 "Lower the timeout for kumactl API version check"
### Summary

version check uses a regular client that has a timeout of 60s. In case a CP is very slow, kumactl gives no feedback for the user, it is just stuck.

We should either change the timeout for this operation or maybe for all operations altogether.

[2021-06-04 14:33] nikita15p opened #2099 "Support for generate logs to logfile and rotate it for kuma-cp"
### Summary
Currently kuma-cp support logs on stdout and not stored in file. It is needed in case kuma needs to be integrated with any logging agent

### Steps To Reproduce
kuma-cp run --help

Usage:
  kuma-cp run [flags]

Flags:
  -c, --config-file string   configuration file
  -h, --help                 help for run

Global Flags:
      --log-level string     log level: one of off|info|debug (de

[2021-06-04 16:41] austince commented on #2099
Can this not be handled by the logging agent itself? i.e. won't fluentd/ fluentbit pull from stdout and handle the rotation, if necessary? Which logging agent are you using where this is not supported?

[2021-06-04 16:47] nikita15p commented on #2099
@austince actually I also explored that. Then found fluentbit open issue https://github.com/fluent/fluent-bit/issues/215

[2021-06-04 17:52] austince commented on #2099
@nikita15p that's wild, I had no idea! Thanks for the reference 👍🏼

[2021-06-04 20:32] jgrund opened #2102 "Dataplanes sending empty jwt when restarting many services"
### Summary

I've been testing a universal deployment on a cluster of 8 VMs. Each node runs 11 agent dataplane services, for a total of 88 dps (+ some management dataplanes that run on one node). All services / dataplanes are backed by systemd units.

If I restart all agent services on all nodes at the same time I can frequently (~ 50% of the time) get into a situation where the dp sends an empty

[2021-06-04 20:42] jgrund commented on #2102
I am also seeing the following in the `kuma-cp` process:

[code]

[2021-06-04 20:56] jgrund commented on #2102
Restarting an effected `kuma-dp` causes it to get a cert provided for it. Upon restarting I see the following in `kuma-cp`:

[code]

[2021-06-05 02:33] jpeach commented on #2097
One approach to this is to reset `http.DefaultClient` to one that has a default timeout on the round tripper (works as long as you don't intend to do long downloads).

Another approach is to use contexts consistently. I recently experimented with updating golangci-lint checks and there's a new check to enforce use of contexts with HTTP calls. Adopting that with a standard timeout could work.

[2021-06-06 21:52] jpeach commented on #2099
Is this primarily useful for running in Universal right? Normally people just add a logrotate(8) config to their puppet/chef/etc recipe; is there any reason that's not the recommendation here?

[2021-06-06 23:03] nikita15p commented on #2099
@jpeach these flags will be available both for universal and kubernetes mode. Is there any reason you think log rotation may not be useful in kubernetes mode. Irrespective of environment in which kuma control plane is running, we should be able to do log rotate for eg fluentbit doesn't support log rotation.

[2021-06-06 23:07] jpeach opened #2103 "Use layered runtime to max out the regex program size"
### Summary

Even though the RE2 program size check is deprecated in envoy, it is still present [here](https://github.com/envoyproxy/envoy/blob/main/source/common/common/regex.cc#L82-L90).

Kuma should set a high runtime value for the `re2.max_program_size.error_level` so that configuration changes don't fail due to unexpected regex behavior.

xref https://github.com/kumahq/kuma/pull/2072#discussi

[2021-06-06 23:31] jpeach commented on #2099
In most Kubernetes deployments, pods are expected to log to stdout and the node takes care of log shipping and any necessary rotation.

For people using fluentbit in Universal, why is logrotate not sufficient? Are they doing any sort of configuration management when they deploy kuma?

[2021-06-06 23:59] nikita15p commented on #2099
log rotation feature is not available with fluentbit, so has to be done by application. In kubernetes mode , node might take care of log shipping but may not be case with everyone. As different tenants on kubernetes might require to ship their logs to different paths and monitor. Also these are app logs, one tenant shouldn't be able to look into other tenant logs.

[2021-06-07 01:31] jpeach commented on #2099
In a Kubernetes deployment, rotating the logs inside the pod doesn't help anyone, since the kubelet & container runtime do that. Outside of that, I still don't understand why using logrotate isn't the right approach.

https://forge.puppet.com/modules/puppet/logrotate
https://supermarket.chef.io/cookbooks/logrotate
https://docs.saltproject.io/en/latest/ref/modules/all/salt.modules.logrotate.html

N

[2021-06-07 02:07] jpeach commented on #675
xref #2099

[2021-06-07 02:33] jpeach opened #2107 "Investigate stronger typing for Kubernetes resources"
### Summary

Looking at the Kuma API resources for Kubernetes, all the `Spec` fields for the objects are of the form:

[code]

This erases the actual type of the spec object from the API server. This has a number of undesirable consequences
* No automatic validation (i.e. by using [kubebuilder tags](https://book.kubebuilder.io/reference/markers/crd-validation.html)) or defaulting (xref #2081)
* No

[2021-06-07 02:51] jpeach commented on #2107
I think that this would break enums, since the JSON representation uses string enum names rather than numeric values.

[2021-06-07 04:49] jpeach opened #2109 "Show environment variables when printing command help"
### Summary

When we print the command help, we should automatically show the environment variables that the command supports. I expect that [Usagef](https://pkg.go.dev/github.com/kelseyhightower/envconfig#Usagef) is probably the right API for this and that we will want a custom template.

Here's a sample of the default table output:
[code]

Here's a sample of the default list output:
[code]

[2021-06-07 06:53] jpeach opened #2113 "Replace deprecated envoy.config.cluster.v3.Cluster.http2_protocol_options"
### Summary

[code]

[code]

### Additional Details & Logs

The replacement for this is the [HttpProtocolOptions](https://www.envoyproxy.io/docs/envoy/v1.18.3/api-v3/extensions/upstreams/http/v3/http_protocol_options.proto#http-protocol-options) API since Envoy 1.17.0 ([release notes](https://www.envoyproxy.io/docs/envoy/v1.18.3/version_history/v1.17.0#deprecated)).

[2021-06-07 06:59] jpeach opened #2114 "Replace deprecated envoy.config.bootstrap.v3.Admin.access_log_path"
### Summary

[code]
[code]

### Additional Details & Logs

The replacement for this is the [AccessLog](https://www.envoyproxy.io/docs/envoy/v1.18.3/api-v3/config/accesslog/v3/accesslog.proto#envoy-v3-api-msg-config-accesslog-v3-accesslog) API since Envoy 1.18.0 ([release notes](https://www.envoyproxy.io/docs/envoy/v1.18.3/version_history/v1.18.0#deprecated)).

[2021-06-07 07:37] tharun208 commented on #2109
Adding on this can we create a new struct for the flag with a `Usage` method associated with it. So, that we can update the flag struct to include fields like shorthand name, description, the env variable associated with the command, and other information and call the `Usage` method while declaring the flag.

[2021-06-07 07:59] sudeeptoroy opened #2115 "go-control-plane upgrade"
### go-control-plane changes for kuma

presently go-control-plane is updated to feb snapshot. This does not support a specific feature i need for my usecase( via proxy template). Thus the request is to upgrade the control plane to the latest.

[2021-06-07 08:02] sudeeptoroy commented on #2115
The latest does not support v2 anymore and hence there are many changes needed for this upgrade. Additionally an upgrade path to move between v2 and v3 you may needed - upgrade strategy.

For my proxy template a march 10th snapshot will do hence the ask is if i can upgrade the go-control-plane to this snapshot and later plan for full fledge upgrade to v3. March snapshot supports both v2 and v3.

[2021-06-07 08:25] #2091 closed

[2021-06-07 09:21] nikita15p commented on #2099
Thanks @jpeach for the info. So in restrictive environment (mostly in enterprise), using kubernetes cluster nodes require priviledged access and hence cannot use logrotate. Hence they support defined logging agent. Also to support in kube and universal env, pushing logs to file and rotating it becomes part of application. I have seen same being used in other service meshes like istio https://istio

[2021-06-07 11:06] #1191 closed

[2021-06-07 11:06] #1604 closed

[2021-06-07 11:06] #1634 closed

[2021-06-07 23:29] jpeach commented on #2099
But a kubernetes cluster is already doing log rotation because pod logs are rotated by the kubelet and the CRI. Is built-in log rotation solving a problem you have in a production kubernetes deployment?

[2021-06-07 23:41] jpeach opened #2122 "TrafficRoute HTTP header rewriting validator should reject special headers."
### Summary

Following on from [here](https://github.com/kumahq/kuma/pull/2072#discussion_r646202092). If the traffic policy requests a rewrite of a header that Envoy regards as not modifiable (ie. "Host", or a HTTP/2 pseudoheader), Envoy will reject the update. Presumably things go wrong when that happens, so it's probably best to avoid that at validation time.

[2021-06-08 02:57] jpeach commented on #1755
If you filter in the metrics hijacker, then you would need to parse the Prometheus exposition format to correctly match and filter metrics (including HELP and TYPE specifications). This moves the CPU usage from the Prometheus scraper to the hijacker but probably doesn't reduce the overall CPU usage.

We could implement a `--filter` flag by rewriting the bootstrap file to emit a  [StatsMatcher](htt

[2021-06-08 06:49] jpeach commented on #1755
Ok, I did some more code reading, and I now see that the prometheus configuration is added dynamically over xds so it will update when the mesh config changes.

However, the envoy `/stats/prometheus` endpoint has a `?filter=regex` parameter that a metrics scraper can use to only scrape the metrics that you want. That sounds pretty promising! However, the metrics hijacker doesn't pass this through.

[2021-06-08 13:57] austince commented on #2058
+1 for this effort, but would suggest CodeCov over Coveralls, since its generally much better supported and feature-rich: https://github.com/codecov/codecov-action

[2021-06-08 21:21] jpeach opened #2128 "Container images need to set writable HOME"
### Summary

Just running the container images as delivered by the project doesn't work (at least for kuma-cp) because it is not able to write `$HOME/.kuma`.

### Steps To Reproduce

[code]

[2021-06-08 22:51] jpeach commented on #2058
Yeh I think I must have meant codecov since that's what I used in a previous life :)

[2021-06-09 00:35] jpeach commented on #2014
ping @kumahq/kuma-maintainers

[2021-06-09 04:32] jpeach opened #2130 "Fix Kubernetes CRD generation"
### Summary

From `pkg/plugins/resources/k8s/native/Makefile`:

[code]

and this comment is, in fact, true:

[code]

It seems like we need CRD generation to work if we want to address #2107 or #1366.

[2021-06-09 05:33] jpeach opened #2131 "Enforce strong parsing for Kuma resources"
### Summary

Kuma universal resources are always parsed from YAML in loose mode that allows unknown fields. This is needed because there is no structural distinction between metadata and spec, as one would find in Kubernetes resources. The lack of full validation makes it harder for users to know when they have constructed a valid resource.

I think that we can solve this by making some assumption

[2021-06-09 06:36] #2115 closed

[2021-06-09 08:38] arjunsalyan commented on #1693
The issue is that in a private GKE cluster, by default, the kubernetes control plane is only allowed access to port 443 and 10250 of the pods and nodes.

But it seems that there is some involvement of admission webhooks when creating a mesh. And that is why you will have to make custom firewall rules so that the k8s control plane can be allowed the right ports.

From here, https://kuma.io/docs/1.0

[2021-06-09 22:03] jpeach commented on #1755
#2124 allows metrics scrapers to filter, which can be used to scrape different sets of metrics at different intervals. Keeping this issue open to address the larger metrics filtering API feature.

[2021-06-09 22:41] jpeach opened #2138 "Kuma should give specific feedback on resource syntax errors"
### Summary

When Kuma can't unmarshal a resource, it doesn't tell you what the problem is, so it's difficult to fix. This problem is not experienced by other service meshes that use strongly typed CRDs.

### Steps To Reproduce

[code]

xref #2130 #2107

[2021-06-09 22:45] jpeach commented on #2138
Sometimes it gives you a specific and helpful validation response:
[code]

So maybe there are different unmarshaling paths here?

[2021-06-09 22:56] jpeach commented on #2103
Confirmed that this is a real problem:

[code]

This generates an envoy error

[code]

[2021-06-09 23:03] jpeach commented on #2103
xref https://github.com/envoyproxy/envoy/issues/9174

[2021-06-10 07:46] #2103 closed

[2021-06-10 09:06] lahabana opened #2142 "Dataplane without any inbound"
It's currently impossible to run a dataplane without specifying at least one inbound.
There are use cases where you'd want to run a Dataplane which doesn't receive data:

- test jobs
- consumers (.e.g Kafka consumers would only initiate connections)

Is there any reason why we'd keep this limitation?

[2021-06-10 10:26] sumeshsg opened #2144 "Outbound port connection issue"
### Summary

- Single AWS Ec2 Machine
- One control-plane
- Two data plane (one for Postgres service another for API service)

### Steps To Reproduce

1. Running Kuma-cp : **kuma-cp run**
2. Creating dataplane for postgresql (dp_postgresql.yaml)
[code]

3. Creating data plane for APIservice (dp_design.yaml)
[code]

4. Generate tokens for Postgresql and API service

        ./kumactl generate datap

[2021-06-10 22:14] #2128 closed

[2021-06-11 10:23] #2099 closed

[2021-06-11 13:01] MevinFernando opened #2153 "How to setup metrics for multi zone kuma mesh deployment in kubernetes ?"
### Summary
We have deployed multi-zone Kuma Mesh in AWS EKS.
 Each plane in a separate EKS.
- Global CP - EKS1
- Remote CP1 - EKS2
- Remote CP 2  - EKS3
The zones and dataplanes are getting identified in the kuma gui, and able to route traffic between zones. But facing issue with respect to exporting metrics to prometheus.

### Steps
- Launced kuma mesh in multi zone as per above configuration
-

[2021-06-11 14:51] MevinFernando commented on #1928
Is it possible to scrape remote control planes metrics using a single prometheus deployed in global control plane.
Currently, the prometheus in global control plane is only showing global control plane metrics.

[2021-06-15 11:59] jakubdyszkiewicz opened #2164 "NACK backoff for KDS"
### Summary

We should port NACK backoff from XDS to KDS, so when Zone CP refuses the resource we have a backoff

[2021-06-15 13:34] michaelkoro opened #2167 "Unable to Create Default Mesh"
### When Installing kuma - the default mesh is not created

I deployed kuma with helm on top of my EKS cluster by running the following command -
[code]
In the docs it says that once the control plane is up it will create a default mesh network.
however it is not created.

I also tried creating it with kumactl, but the same issue occurred.

### Additional Details & Logs

- EKS Version - 1.19
- Hel

[2021-06-15 18:06] jgrund commented on #2102
Some more background. This appears to occur when the stop / start of a dp are tightly sequenced. In this case the register / unregister can interleave in an unexpected order and break things.

[2021-06-15 22:47] codyde opened #2170 "Inconsistent kuma.io/service tag generation in Kubernetes with multiple services"
When deploying a deployment in Kubenetes that has multiple services registered to it, like Kong Ingress Controller, Kuma has unpredictable service name registration. In the case of Kong Ingress Controller, the name alternates between `kong-proxy_namespace_svc_80` and `kong-validation-webhook_namespace_svc_443`.

I suspect this is happening because both services use the same selector, so they both

[2021-06-16 07:53] lahabana opened #2171 "Envoy on Dps can get cleaned before added back which causes network errors."
### Summary

When disconnection happens on a multi-node setup there are cases where the dp might get pushed an empty SotW which causes all listeners to be removed. Shortly after a correct snapshot is pushed which fixes the problem.

Here are some logs showing this:

[code]

### Steps To Reproduce

1. Setup 2 CP behind a TCP LB (preferably in RoundRobin as the problem seems to be more frequent when

[2021-06-16 11:15] #2171 closed

[2021-06-16 12:51] devops-42 opened #2174 "[OpenShift/CRC] Can't get kuma-demo running"
### Summary

Hi,

To play around with kuma I tried to install it on OpenShift (CRC). The installation of the control plane succeeded. When deploying the kuma-demo all pods stuck in `ContainerCreating`, the logs shows:

[code]

How to get rid of this error?

Thanks for your help in advance!
Cheers

### Steps To Reproduce

1. Install and start CRC
2. Follow the instructions on installiing kuma:
[cod

[2021-06-16 12:57] bartsmykla commented on #2174
I don't unfortunately have access to OpenShift, but could you see if there is anything interesting in `kuma-cni-node` `DaemonSet` in `kuma-system` namespace?

[2021-06-16 13:03] bartsmykla commented on #2174
I mean, could you look at the logs and see if there is anything what could explain this error?

[2021-06-16 13:04] devops-42 commented on #2174
pardon, I forgot, here we go:

[code]

[2021-06-16 13:08] bartsmykla commented on #2174
Ok, nothing here. Are you able to get the logs from `kubelet`?

[2021-06-16 13:15] devops-42 commented on #2174
Sure, but there's a plethora of log lines when grepping for ´kuma`. I have extracted the hopefully relevant part:
[code]

[2021-06-16 14:01] phclark opened #2176 "Builtin DNS clash with multiple external services defined with the same host and different ports"
### Summary

When using transparent proxying with built in DNS, multiple external services defined with the same host but different ports clash in their VIP definition, resulting in only one of the services being reachable by their full url:port combination. Using the .mesh domain, all services are reachable. Requests to all but one service result in either Empty reply from server or Connection re

[2021-06-16 22:08] jpeach opened #2177 "Log rotation flags should not be global"
### Summary

The log rotation flags `--log-output-path`, `--log-max-age` and so on are global in `kuma-cp` and `kuma-dp`, but probably should only be attached to the `run` subcommand. There's no need for log rotation with `kuma-cp version`, for example.

[2021-06-17 18:52] dmilde commented on #2174
Had a similar error with permission issues on Openshift 4.6.X with kuma 1.1.6.
It was fixed and is now working for me with the new v1.2.0, maybe give it a try?

[2021-06-18 01:57] skaravad opened #2182 "Kuma UI 1.2.0 Broken"
### Summary

KUMA UI create mesh wizard is broken.

### Steps To Reproduce

Access UI and navigate to Meshes, click Create Mesh
Expected Result: Navigation wizard for creating new mesh
Observed: Blank Page

### Additional Details & Logs

- Version: 1.2.0
- Error logs: NA
- Configuration
- Platform and Operating System
- Installation Method (Helm, kumactl, AWS CloudFormation, etc.)

[2021-06-18 13:27] devops-42 commented on #2174
@dmilde Thanks for the hint, with 1.2.0 I could install the demo application. For installing the `kuma-metrics` I had to add the following scc command:
[code]

[2021-06-18 17:30] phclark commented on #2176
FYI - I don't believe the commit above, b780f95, is correctly tagged to this issue

[2021-06-18 19:53] bdecoste opened #2183 "Multiple Universal ZoneCPs causes DPPs to disappear"
### Summary

When running in Universal (this isn't an issue in k8s, which makes sense) and you start a second ZoneCP the existing DPPs disappear from the UI and from each GlobalCP instance (via kumactl). When a DPP is restarted all of the previous DPPs reappear.

### Steps To Reproduce

1. Create a universal multi-zone with 1 GlobalCP and 1 ZoneCP
2. Deploy 2 DPPs
3. Note that both DPPs are visibl

[2021-06-19 06:48] nikita15p commented on #2177
Hi @jpeach . This was done for being in line with --log-level. This is also a global flag.
eg ./kuma-cp version --log-level=info
Kuma: 1.0.0-rc2-455-g254a2cdd

I think its ok to have with with run and migrate, only with version we need to check.  @jakubdyszkiewicz what are your thoughts?

[2021-06-19 06:59] nikita15p opened #2184 "automatic protocol selection"
### Summary

Can we leverage envoy's http inspector (Reference: https://www.envoyproxy.io/docs/envoy/latest/configuration/listeners/listener_filters/http_inspector). So that kuma automatically inspects and applies protocol HTTP and HTTP/2 traffic on inbound and outbound ports. And in case protocol is not determined automatically, it can be treated as plain TCP traffic.

Kuma Reference: https://kum

[2021-06-21 00:48] jpeach commented on #2073
Reopening since 1.2.0 wasn't tagged with a leading `v`.

cc @nickolaev @jakubdyszkiewicz

[2021-06-21 03:47] jpeach opened #2185 "Collapse bootstrap generator abstractions"
In `kuma-dp` there is an abstraction for generating an Envoy bootstrap file:

[code]
In `kuma-cp` there's a really similar one:
[code]

We can collapse `BootstrapConfigFactoryFunc` into something that implements the`BootstrapGenerator` interface.

[2021-06-21 07:41] bartsmykla commented on #2144
Hi @sumeshsg I was trying to reproduce your issue, and then realized the default postgres port is not `5433` but `5432`, could you confirm you are using a proper postgres port?

[2021-06-21 16:27] gerardborst opened #2191 "invalid resource of type: ZoneIngress. Expected: Dataplane"
### Summary

In an Universal deployment of ingress on ubuntu 18.04. Start of the zone ingress gives the error "invalid resource of type: ZoneIngress. Expected: Dataplane"

### Steps To Reproduce

1. Install kuma version 1.2.0
Set environment vars
[code]
Dataplane.yaml:
[code]
[code]
output:
[code]

[2021-06-21 21:47] jpeach commented on #2191
You need to specify the proxy type to be a zone ingress:
[code]

[2021-06-21 23:04] jpeach commented on #2058
I refreshed my memory on how to do this. Here's the steps:

* enable codecov for the kumahq organization, then it will show up in the app settings of each repository
* Add a test target that generates coverage to `coverage.out`
* Add a coverage upload target that does `bash <(curl -s https://codecov.io/bash)`
* Make sure the git checkout uses `depth 0`

Example YAML for Github actions:
[code]

[2021-06-22 03:19] nhamlh commented on #2167
I faced this issue when using EKS with external CNI plugin (calico in my case). The reason is EKS masters don't know the subnet created by Calico, hence the webhook calling failed. A workaround would be using hostNetwork for kuma-cp.

[2021-06-22 05:35] bartsmykla commented on #2182
fixed by: https://github.com/kumahq/kuma-gui/pull/165 https://github.com/kumahq/kuma/pull/2187 and backported by: https://github.com/kumahq/kuma/pull/2188
the next release will contain this fix

[2021-06-22 05:35] #2182 closed

[2021-06-22 11:51] gerardborst commented on #2191
With this change the ingress is starting but I now get an authentication error.
[code]
Shall I open a new issue?
The redis backend is authenticating correctly.

[2021-06-22 12:22] gerardborst opened #2194 "Warning in gui: Envoy (1.18.3) is unsupported by the current version"
### Summary

Kuma version 1.2.0. There is a warning in the gui in the dataplane proxy pages:
[code]
I think 1.18.3 should be the supported version.

[2021-06-22 12:24] bartsmykla commented on #2194
Yes you are right, and I fixed it today: https://github.com/kumahq/kuma/pull/2193

It will be available with the next release

[2021-06-22 12:24] #2194 closed

[2021-06-22 14:49] gerardborst commented on #2191
The token generate command for ingress should be
[code]
and not what is in the documentation.
After this the zone ingress starts without problem but gets the status offline in the global control plane.

[2021-06-23 02:03] jpeach commented on #2058
Ping @nickolaev @jakubdyszkiewicz

[2021-06-23 08:59] gerardborst commented on #2191
It is working now but it would be very much more simpler if there was a working example with multi-zone with k8s and universal zones.

I could make a PR with the corrections(only for the part I know of).

[2021-06-23 09:23] gerardborst opened #2197 "Universal ZoneIngress is showing offline in gui"
### Summary

While the zone ingress from a universal zone is online it is showing offline in the gui.

kuma 1.2.0

![image](https://user-images.githubusercontent.com/56296132/123071974-693ded80-d415-11eb-9a99-fbc9ec95e884.png)

[2021-06-23 13:46] gerardborst commented on #2197
The universal zone ingress doesn't have any insights:
![image](https://user-images.githubusercontent.com/56296132/123107870-35c18a00-d43a-11eb-8933-b009062b7ab4.png)

[2021-06-24 04:29] bartsmykla commented on #2144
@sumeshsg as I think the issue was the wrong port and couldn't contact you here or on our slack I'm closing this issue for now. If you'll still have problems, please write and we'll open it again

[2021-06-24 04:29] #2144 closed

[2021-06-24 05:20] jpeach opened #2200 "Remove embedded Go modules"
### Summary

The use of embedded Go modules causes some dependency problems, #2088 and #2087, and makes it harder to upgrade dependencies across the repository. However IIUC, these modules were originally introduced because they were needed to solve problems with mutually incompatible dependencies, so this needs to be explored carefully.

This issue is tracking the consensus that we should attempt

[2021-06-24 05:41] jpeach commented on #2191
@gerardborst I'd be happy to shepherd a docs PR with any corrections. Tag me on the PR or on Slack.

[2021-06-24 05:43] jpeach commented on #2197
@lobkovilya Do you have any suggestions?

[2021-06-24 05:53] lobkovilya commented on #2197
That's weird there is no ZoneIngressInsight, @gerardborst could you please share logs from Zone CP?

[2021-06-24 05:56] nhamlh opened #2201 "kuma-cp panic intermittently"
### Summary

I just upgraded to kuma 1.2.0 and the control-plane panic intermittently (error logs below). After digging into this, I've found that https://github.com/kumahq/kuma/blob/5c77fae3723617cd649ebcb5a4f3220fdc9b99aa/pkg/xds/cache/once/cache.go#L78 returns nil sometimes. It is because the time between `o.Do()` and `c.cache.Get(key)` sometimes takes more than default cache duration (which is

[2021-06-24 07:35] jakubdyszkiewicz opened #2203 "Use lifecycle type sidecar on kuma-sidecar container"
### Summary

add `lifecycle.type=Sidecar`
[code]
conditionally when we are injecting Kuma DP on Kubernetes 1.18+

This way Kuma DP will start as a first container.

[2021-06-24 07:39] #2201 closed

[2021-06-24 10:39] gerardborst commented on #2197
I did an upgrade from 1.1.6.

[zone-cp.log](https://github.com/kumahq/kuma/files/6708493/zone-cp.log)

[2021-06-24 12:07] lobkovilya commented on #2197
@gerardborst sorry for the long response, I was able to reproduce it and prepared a fix. Thanks a lot for spotting this!

[2021-06-24 12:49] michaelkoro commented on #2167
@nhamlh yep thats what we ended up doing as well. I guess for now it works, but I hope EKS finds a better solution in the future.
thanks anyway!

[2021-06-24 12:49] #2167 closed

[2021-06-25 00:58] skaravad opened #2213 "Kuma Sidecar (envoy proxy) resource settings"
### Summary

Kuma sidecar CPU and Memory requests and limits are global , this should configurable per service via annotations, something like
  ` kuma.io/sidecar-cpu-request`
   `kuma.io/sidecar-cpu-limit`
   `kuma.io/sidecar-mem-request`
   `kuma.io/sidecar-mem-limit`

This will help services which can only scale vertically. If no annotation is provided may be it can default to global setting.

[2021-06-25 05:01] #2058 closed

[2021-06-25 05:07] jpeach commented on #2203
See https://github.com/kubernetes/enhancements/tree/master/keps/sig-node/753-sidecar-containers

[2021-06-25 05:42] jpeach commented on #2130
And DeepCopy generating is broken too. This seems more fundamental, because controller-gen doesn't like the fact that the spec field is `map[string]interface{}`. Perhaps we could address this with `runtime.RawExtension`, but overall, changing this seems like a substantial effort.

[code]

[2021-06-25 08:33] gerardborst commented on #2191
@jpeach the biggest problems I had determining what the address should be. I think the docs are not completely clear about that but I'm not sure how it should be. Because issue #2014 has this as subject I will log my findings in that one.

[2021-06-25 08:59] gerardborst commented on #2014
@jpeach as said in #2191 I had the biggest problem with determining what the ingress address should be.

In my environment I have an azure subscription with the global control plane in a kubernetes cluster and 3 vm's in another subscription with the zone control plane, the zone ingress and the redis backend.

The zone ingress has 2 nic's
[code]
The azure public ip address is attached to eth0. At f

[2021-06-27 22:13] jpeach commented on #2130
Per https://github.com/kubernetes-sigs/controller-tools/issues/294, we should be able to use [json.RawMessage](https://golang.org/pkg/encoding/json/#RawMessage) as the type for fields that contain a JSON-marshaled protobuf.

I verified that this does generate a CRD that looks pretty consistent with what we are doing manually:
[code]

It looks like the DeepCopy changes to a byte-wise copy:
[code]

[2021-06-28 08:03] #1961 closed

[2021-06-28 08:09] #2197 closed

[2021-06-28 21:36] scottslowe opened #2240 "Support for kubectl explain"
### Summary

As a user/consumer of Kuma, I'd like to be able to use `kubectl explain` to explore the fields that are available/required for Kuma objects.

### Steps To Reproduce

1. Run `kubectl explain CircuitBreaker.spec` against a Kubernetes cluster that has Kuma installed.
2. Note that the output is empty.

### Additional Details & Logs

- Version: only tested against 1.2.0
- Error logs: None

[2021-06-28 21:51] jpeach commented on #2240
xref #2130

[2021-06-28 22:28] billyshambrook commented on #237
CircleCI supports ARM now - https://circleci.com/docs/2.0/arm-resources/

[2021-06-29 13:22] bchatelard commented on #2102
We have been impacted by this issue too, it appears to be an issue with a race condition in the deletion/creation of the dp/ingress.

We think this is happening because the control plane is behind a proxy with tcp timeout configured which force the reconnection, it randomly fails when things are out of orders.

I have been able to reproduce with toxiproxy and the following setup:

[code]

The stre

[2021-06-29 21:58] skaravad opened #2248 "Option to use internal cert key pair for external services"
### Summary

As per https://kuma.io/docs/1.2.0/policies/external-services/#usage we can specify key pair + ca when communicating with external services which require TLS /mTLS , it would be great if the sidecar can use the key pair which it already uses for internal services , for instance if we provide managed CA for the Mesh or Use Vault, external services can have identities signed by the same

[2021-06-29 22:29] austince opened #2249 "`kuma-prometheus-sd` error with different filesystems"
### Summary

The current Prometheus sidecar for discovering Kuma targets contains a bug when the output file parent directory is on a different filesystem.

This affects all MADS API versions. Perhaps it's an issue with the Prometheus custom SD adapter.

Likely an edge case and hopefully solved by replacing the `kuma-prometheus-sd` sidecar with a native SD.

[code]

### Steps To Reproduce

1. Inst

[2021-06-29 22:38] austince opened #2250 "`kuma-prometheus-sd` infinite loop when new streams cannot be created"
### Summary

When the `kuma-prometheus-sd` fails to create a stream of assignments, it immediately tries again, forever. This could be solved by adding some backoff to the creation attempts, but hopefully the sidecar approach will be removed soon.

Caused by:
https://github.com/kumahq/kuma/blob/19d3b806b63edf388d9a690be3282555cf1d8f5c/app/kuma-prometheus-sd/pkg/discovery/xds/xds.go#L45-L72

### St

[2021-06-29 23:56] jpeach commented on #2250
Which API is doing the panicing here?

[2021-06-30 01:17] austince commented on #2250
It's any of the MADS APIs – I'm not sure the exact spot that errors, either the gRPC lib or the "net" lib?

[2021-06-30 05:09] jpeach commented on #2249
I stared at this for a while and I think what happens is that the output path is not fully-qualified, e.g. something like "foo.json". that would cause the directory component to by "", which would make TempFile use the system temp directory.

[2021-06-30 13:23] skowrons opened #2258 "Wrong image tag in helm chart since version v1.2.1"
### Summary

With the version v1.2.1 the Helm Chart will no longer work. This is because the chart will use the app version as default and this version will not contain `v` only `1.2.1`.

### Steps To Reproduce

1. helm repo add kuma https://kumahq.github.io/charts
2. kubectl create ns kuma-system
3. helm install --namespace kuma-system kuma kuma/kuma
4. watch the imagePullErr for the pod

### Add

[2021-06-30 16:54] jakubdyszkiewicz commented on #2203
I was kind of misled that this is a feature available in 1.18 but it was not released yet and won't be released in this form...

[2021-06-30 22:04] jpeach commented on #2073
Reopening. @jakubdyszkiewicz tried to tag 1.2.1 with the v prefix but had to back it out after running into some issues with the nested modules.

[2021-06-30 22:04] jpeach commented on #2073
xref #2258

[2021-06-30 22:27] jpeach commented on #2258
Hi @skowrons, I believe that we reverted to `1.2.1` after running into some Go module issues. You may have been affected by an intermediate state. Can you test again?

[code]

[2021-07-01 06:41] jpeach commented on #2250
Yeh I'm just suspicious of the whole "convert a panic back into an error here". Might be papering over some more fundamental problem. This code came in via #537 but I don't see any explanation for it.

[2021-07-01 08:03] skowrons commented on #2258
@jpeach it is now working properly with the tag `1.2.1`. I will close the issue thank you!

[2021-07-01 08:03] #2258 closed

[2021-07-01 22:08] jpeach commented on #2191
Thanks @gerardborst. Let's close this out and continue on #2014 then.

[2021-07-01 22:08] #2191 closed

[2021-07-01 22:36] jpeach commented on #1693
Nice! Can we update the Kuma deployment docs with what you needed to change?

[2021-07-01 23:48] jpeach commented on #2249
So one possible fix is to apply `filepath.Abs` before passing the path down.

[2021-07-02 00:16] jpeach opened #2270 "Generate Go package mappings for Envoy protobuf API"
### Summary

In [api/Makefile](https://github.com/kumahq/kuma/blob/master/mk/api.mk#L25-L53) we have a static Go package mapping that is needed for protoc to generate Go protobuf code that references Envoy protobufs. We should be able to write a simple script that generates this mapping for a give Envoy version so that we don't have to maintain it by hand.

[2021-07-02 11:25] jakubdyszkiewicz commented on #2177
I'm ok either way. If we go this way, we need to be careful for subcommand like `migrate` that we don't forget to add those settings

[2021-07-02 11:26] jakubdyszkiewicz commented on #2131
I think the bigger problem here is the lack of versioning of resources.

[2021-07-02 11:27] jakubdyszkiewicz commented on #83
It's an old issue assuming that we connect to Kube API directly. Closing

[2021-07-02 11:27] #83 closed

[2021-07-02 11:28] jakubdyszkiewicz commented on #289
We encode all tags in `kuma://tag/value` format now. Closing.

[2021-07-02 11:28] #289 closed

[2021-07-02 11:32] jakubdyszkiewicz commented on #374
We have E2E tests with such scenarios. Closing.

[2021-07-02 11:32] #374 closed

[2021-07-02 11:35] jakubdyszkiewicz commented on #516
Envoy config is huge. This will be too heavy to put into DataplaneInsights. What we want to do eventually is provide the capability for CP to connect to the Admin of DP to fetch the config. Closing.

[2021-07-02 11:35] #516 closed

[2021-07-02 11:43] jakubdyszkiewicz commented on #675
That's not the same problem @jpeach

@doctorwu was asking here about TrafficLog (Envoy builtin access log to file).

It seems it won't be implemented in Envoy itself https://github.com/envoyproxy/envoy/issues/1109 so the only viable solution is to use logrotate. Besides, I think the majority of use cases are to send access logs to the centralized system.

We can reopen if this is really critical.

[2021-07-02 11:43] #675 closed

[2021-07-02 11:45] jakubdyszkiewicz commented on #936
It's done.

[2021-07-02 11:45] #936 closed

[2021-07-02 11:46] jakubdyszkiewicz commented on #1000
done

[2021-07-02 11:46] #1000 closed

[2021-07-02 11:48] jakubdyszkiewicz commented on #1124
we now rely on builtin dns. Closing

[2021-07-02 11:48] #1124 closed

[2021-07-02 11:51] jakubdyszkiewicz commented on #1217
Closing due to no activity. I think This was solved in #1216

[2021-07-02 11:51] #1217 closed

[2021-07-02 11:53] jakubdyszkiewicz commented on #1272
Correct. For this case, it's definitely better and simpler to go with a big standalone deployment.

Closing, feel free to reach out to me to reopen if needed.

[2021-07-02 11:53] #1272 closed

[2021-07-02 11:53] jakubdyszkiewicz commented on #1320
Timeout is now a native policy in Kuma.

[2021-07-02 11:53] #1320 closed

[2021-07-02 11:56] jakubdyszkiewicz commented on #1462
Could the reason be that you set `KUMA_CONTROL_PLANE_CA_CERT=/path/to/cert`?
This should be either `KUMA_CONTROL_PLANE_CA_CERT=realcertpemencoded` or `KUMA_CONTROL_PLANE_CA_CERT_FILE=/path/to/cert`

[2021-07-02 11:58] jakubdyszkiewicz commented on #1324
https://kuma.io/docs/1.2.1/policies/circuit-breaker/#usage we now have thresholds

[2021-07-02 11:58] #1324 closed

[2021-07-02 12:02] jakubdyszkiewicz commented on #1464
Closing. We now have thresholds in CircuitBreaker policy. Please reopen if I am mistaken.

[2021-07-02 12:02] #1464 closed

[2021-07-02 12:03] jakubdyszkiewicz commented on #1623
This now works with ExternalServices.

[2021-07-02 12:04] jakubdyszkiewicz commented on #1633
https://kuma.io/docs/1.2.1/policies/health-check/ done

[2021-07-02 12:04] #1633 closed

[2021-07-02 12:05] jakubdyszkiewicz commented on #1651
done

[2021-07-02 12:05] #1651 closed

[2021-07-02 12:05] jakubdyszkiewicz commented on #1687
done. We check conditionally in HELM whether we can use v1

[2021-07-02 12:05] #1687 closed

[2021-07-02 12:06] jakubdyszkiewicz commented on #1689
we now have `kumactl install gateway --type kong`

[2021-07-02 12:06] #1689 closed

[2021-07-02 12:06] jakubdyszkiewicz commented on #1680
Those warnings are now solved

[2021-07-02 12:06] #1680 closed

[2021-07-02 12:08] jakubdyszkiewicz commented on #1699
Every policy has now a doc indicating what are the limitations for matching.

[2021-07-02 12:08] #1699 closed

[2021-07-02 12:09] jakubdyszkiewicz commented on #1724
I'd change this in the next major. Technically it's "internal" port, but just so we don't break something, let's do this in next major.

[2021-07-02 12:11] jakubdyszkiewicz commented on #1782
@jewertow is right, closing the issue.

[2021-07-02 12:11] #1782 closed

[2021-07-02 12:13] jakubdyszkiewicz commented on #1856
This should be solved now with TCP keepalive checks.

The only edge case is that when Global CP is down, then Zone CP is down, Global CP is up and Zone CP will never go up.
We are working to solve this.

[2021-07-02 12:14] jakubdyszkiewicz commented on #1721
This can be more generally solved with this https://github.com/kumahq/kuma/issues/1920

[2021-07-02 12:16] #1986 closed

[2021-07-02 12:17] jakubdyszkiewicz commented on #2004
Hey @lahabana is it solved now? If so, please close the issue.

[2021-07-02 12:17] jakubdyszkiewicz commented on #2007
xref #271

[2021-07-02 12:18] #271 closed

[2021-07-02 12:19] jakubdyszkiewicz commented on #1788
what are the requirements? Kuma CP returns YAML from the API? Kuma CP accepts YAML when applying resources?

[2021-07-02 12:22] jakubdyszkiewicz commented on #2016
duplicate of of #1585
Closing this one.

[2021-07-02 12:22] #2016 closed

[2021-07-02 12:24] jakubdyszkiewicz commented on #2044
@nickolaev is working on rewriting CNI. This will be solved once this is done.

[2021-07-02 12:28] jakubdyszkiewicz commented on #2080
done by @bartsmykla

[2021-07-02 12:28] #2080 closed

[2021-07-02 12:28] jakubdyszkiewicz commented on #2113
done

[2021-07-02 12:28] jakubdyszkiewicz commented on #2114
done

[2021-07-02 12:29] jakubdyszkiewicz commented on #2122
They added such validators in Envoy 1.18 so I also added this to TrafficRoute. Done.

[2021-07-02 12:29] #2122 closed

[2021-07-02 12:30] jakubdyszkiewicz commented on #2138
unfortunately this is charateristic of YAML/JSON/Proto marshalling/unmarshalling. If the type is not correct, the error message is very cryptic :/ I'd love to fix it, not sure if it's possible.

[2021-07-02 12:32] jakubdyszkiewicz commented on #2142
The limitation is that for mTLS you need an identity of a service that is inferred from the inbound.

What you may want to do is use Gateway dataplane for that. I know that seems like a "hack". We may need to somehow introduce a concept of "Consumer Dataplane".

[2021-07-02 12:33] jakubdyszkiewicz commented on #2153
You need to have Prometheus in every zone and then do Prometheus Federation to collect metrics to one cluster.

[2021-07-02 12:35] jakubdyszkiewicz commented on #2184
The only downside I can see is that the config will be much bigger, but I would definitely want to see this feature in Kuma.

[2021-07-02 12:37] jakubdyszkiewicz commented on #2203
Closing for now. Will reopen once Kubernetes has this feature.

[2021-07-02 12:37] #2203 closed

[2021-07-04 03:19] nhamlh opened #2279 "kuma-init logs is bloated"
### Summary

Currently kuma-init emits entire iptables configuration lines to stdout. I think it's better to suppress those logs line and emit more concise logs like it's initializing, it's finished.

### Additional Details & Logs

- Version 1.2..0

[2021-07-04 04:16] nhamlh commented on #2279
After searching through the code. I think the solution is adding some configuration to modify initContainer's verbose flag.
https://github.com/nhamlh/kuma/blob/8b13853da2a445c725d98d18b52e1dc15262f4f5/pkg/transparentproxy/kubernetes/kubernetes.go#L122

[2021-07-04 21:30] jpeach commented on #2279
cc @bartsmykla

[2021-07-04 21:35] jpeach commented on #2122
Can you please link the PR here?

[2021-07-04 21:39] jpeach commented on #2114
This doesn't appear to be fully removed in latest master:
[code]

[2021-07-04 21:39] jpeach commented on #2113
This doesn't appear to be fully removed in latest master:
[code]

[2021-07-04 21:41] jpeach commented on #2044
Can we link this issue to that effort?

[2021-07-04 21:44] jpeach commented on #1788
Not sure why we would do this. It's pretty simply to convert YAML to JSON in a tool if you are writing some scripts.

[2021-07-04 23:46] jpeach commented on #2177
Since this is consistent with existing log flags, I can live with it. Even if we do change, it will need deprecation and compatibility, so it's unlikely to be worth the effort.

[2021-07-04 23:46] #2177 closed

[2021-07-05 00:22] jpeach commented on #516
It sounds like this issue is about surfacing errors, not necessarily the whole configuration.

[2021-07-05 05:40] lobkovilya commented on #2044
@jpeach yes, it is here https://github.com/kumahq/kuma/pull/2262

[2021-07-05 14:55] jakubdyszkiewicz commented on #2248
Hey, I have a couple of thoughts.

How mesh certificates are generated, what are the SANs etc. so far was an implementation detail and we did not have to treat this as a user-facing API.

Would the SAN of ExternalService's cert contain domain or SPIFFE URI SAN?

If you were to switch (rotate) the mTLS backend (CA), now you have a hidden external dependency that ExternalServices expects certificate

[2021-07-05 16:04] skaravad commented on #2248
Hi there,

The request is for managed CA like vault or user provided CA (we can easily obtain the auto generated CA cert and key via kubectl as well :) )

For external systems the cert generation need not be via API from KUMA , it is handed over to user for manual/automated methods like vault PKI API or some other openssl tricks, all users have to make sure is to stick to basic SSL cert principles

[2021-07-06 05:38] jpeach opened #2313 "Make logger names consistent in the xDS server package"
### Summary

[code]

Sometimes we use `xds` as the parent logger name, sometimes we use `xds-server`. Some names are hyphenated (`proxy-template-resolver`) and some are lowerCamelCased (`statusTracker`).

Would be nice to make these all consistent.

[2021-07-06 06:15] jpeach opened #2314 "Dataplane Insight Sink does an unnecessary protobuf copy"
### Summary

In `(s *dataplaneInsightSink) Start()`, we clone the protobuf before upserting it into the insight store. However the subscription status accessor in the dataplane status tracker has already returned a cloned protobuf.

[code]

So we don't need the second copy. Suggest that we rename `GetStatus` to `CopyStatus` or something so that this it's clearer that this is returning a copy.

[2021-07-06 13:32] lobkovilya opened #2320 "Dataplane, Zone and ZoneIngress status problem"
## Summary

This issue aims to collect all the knowledges and cases regarding problem with statuses.

_NOTE 1: Wrong statuses affect only how information is displayed in Kuma GUI. Incorrect status doesn't affect real connectivity between peers._

_NOTE 2: Problem is the same for Dataplane, Zone and ZoneIngress statuses because internally we're using the same Insight/Subscription mechanism. All exa

[2021-07-07 13:54] jakubdyszkiewicz commented on #2102
Hey, @bchatelard @jgrund

thank you for the descriptions and tips on how to reproduce it with toxiproxy.

It took me a while to figure out that this error `token contains an invalid number of segments` is only for SDS.
I see the problem, the fix should land soon!

[2021-07-07 16:01] bchatelard commented on #2102
Hey, I have a few ongoing fixes for related issues, I will ping you on slack.

[2021-07-07 17:19] jgrund commented on #1820
In general there is not that much, however if a dp is disconnected from a cp, there is lot's of output constantly printed about connection failures / reconnection attempts:

[code]

If you are running lot's of dps on a host this quickly becomes very noisy and drowns out other info. Even reducing the frequency / verbosity of this logging (or providing a flag to do so) would make a big difference.

[2021-07-08 08:47] #2176 closed

[2021-07-08 21:28] jpeach opened #2331 "Validate kuma.io-scoped annotations"
### Summary

We should add Kubernetes validation for annotations with a leading `kuma.io`. For any annotation that begins with the `*.kuma.io/` prefix, validate that it's a known and supported Kuma annotation. This helps users catch typographic errors, and preserves the project's ability to use new annotations in this scope without the risk of a collisions.

[2021-07-09 01:06] jpeach opened #2336 "Switch from github.com/cncf/udpa to github.com/cncf/xds"
### Summary

Per the [README](https://github.com/cncf/udpa#readme), the UDPA repo is deprecated and we should be switching over to https://github.com/cncf/xds.

[2021-07-09 03:41] Jayita10 commented on #2336
I would like to contribute to this issue

[2021-07-09 04:10] jpeach commented on #2336
Great! There may be some issues in the build with package paths and things like that. Call out if you run into any problems :)

[2021-07-09 05:40] jpeach opened #2338 "Remove GetBool annotations in favor of GetEnabled"
### Summary

Most Kuma annotations use `GetEnabled` but `kuma.io/sidecar-injected` uses `GetBool`. This means that, even though `kuma.io/sidecar-injected` is a boolean annotation like plenty of others in Kuma, it doesn't not accept the same set of values.

We should dump `GetBool` and add `strconv.ParseBool` support to `GetEnabled` so that we have just one consistent way of handling boolean annota

[2021-07-09 07:13] lobkovilya commented on #2014
Hey @gerardborst, sorry for the long response.

You're right, we can do better here, at least starting with the documentation. We should make it clear that `networking.address` is the only address Zone Ingress is listening on.

* If Zone Ingress is exposed using Load Balancer:
    * `networking.advertisedAddress` is a LoadBalancing address
    * `networking.address` is an address of the network in

[2021-07-09 15:45] bdecoste opened #2344 "Add KUMA_DATAPLANE_DRAIN_TIME to the CP config"
### Summary

Id like to configure universal drain time via the CP config file instead of as an ENV to kuma-dp. i.e. add KUMA_DATAPLANE_DRAIN_TIME param to https://github.com/kumahq/kuma/blob/master/pkg/config/app/kuma-cp/kuma-cp.defaults.yaml

[2021-07-09 15:51] subnetmarco commented on #2320
Seems like there is some consensus to go with solution 2, which I am fine with.

[2021-07-09 16:07] subnetmarco commented on #1920
@bhiravabhatla any updates on this issue?

[2021-07-10 00:47] subnetmarco commented on #1920
Actually, I wonder the following. Since we need a system that works in both Universal and Kubernetes, wouldn't we want `kuma-cp` to store the CLI settings the data plane proxies and then pass those settings prior to invoking `envoy`? In this way, it would work consistently both when `kuma-dp` is automatically injected and also when we manually start it in Universal.

I am suggesting adding the fol

[2021-07-10 01:02] jpeach commented on #1920
IIUC some flags are set by the mesh, so need to think carefully about which we expose. I like the idea of the `DataplaneStartupFlags` resource since we can expose only the flags that aren't controlled by the mesh.

[2021-07-10 03:01] jpeach commented on #1920
Self assigning since I plan to do some research on this.

Untagging "good first issue" until we rescope.

[2021-07-10 14:16] bdecoste opened #2346 "universal.dataplaneCleanupAge doesn't cause Offline Dataplanes to be removed"
### Summary

Setting `universal.dataplaneCleanupAge` to a lower value doesn't cause an Offline Dataplane to be removed

### Steps To Reproduce

1. Set up a Universal Multizone mesh
2. Set `universal.dataplaneCleanupAge=0h15m0s` on both the Global and Zone CPs
3. Start a DPP pointed to a nonexistent service with a probe. This will cause the DPP to be Offline.
4. Wait >15m
5. You will not see the lo

[2021-07-11 23:35] jpeach commented on #1920
| Flag | Purpose | Could be Settable by Operators|
| --- | --- | --- |
| --enable-core-dump | Enable core dumps | Y |
| --socket-mode | Hot restart socket file permission | N (Kuma doesn't support hot restarts) |
| --socket-path | Hot restart socket path | N (Kuma doesn't support hot restarts) |
| --disable-extensions | Comma-separated list of extensions to disable | Y (good for testing) |
| --cpu

[2021-07-12 00:30] jpeach opened #2347 "Rename "builtindns" and "builtindnsport" with consistent hyphenation"
### Summary

Every other Kuma annotation that consists of multiple words separates those words with hyphens. These annotations ought to be named `kuma.io/builtin-dns` and `kuma.io/builtin-dns-port`.

Recommend we continue to accept both forms, but document the hyphenated one.

[2021-07-12 05:42] jpeach opened #2350 "Log levels higher than "V(1)" cannot be enabled"
### Summary

When I enabled `--log-level=debug`, I was expecting to see log output for call sites that use `log.V(2).Info(...)`, but nothing appears.

This patch demonstrated the problem:
[code]
[code]

[2021-07-12 05:51] jpeach commented on #2350
This happens because `zap.DebugLevel` is -1. When we pass the level down from `V(2)`,  zapr converts that to -2. The "enabled" check fails because `-2` is not >= `-1`.

[2021-07-12 06:03] lobkovilya commented on #2346
There are 2 cases when DPP is shown up as Offline:
1. All inbounds are offline, but kuma-dp is connected to kuma-cp (your case)
2. kuma-dp is disconnected from kuma-cp, inbounds in an unknown state

Collector will clean up DPPs only in the second case, in the first case we just can wait for the service to go back alive

[2021-07-12 21:38] #2350 closed

[2021-07-13 12:48] bdecoste opened #2357 "Add ability to pass generic parameters to the Envoy command line"
### Summary

I'd like to be able to pass any command line parameter to the envoy command line. For example, --concurrency or --drain-strategy. Any of these: https://www.envoyproxy.io/docs/envoy/latest/operations/cli

[2021-07-13 18:44] #2102 closed

[2021-07-13 21:30] jpeach commented on #2357
Duplicate of #1920. Please see the discussion there on which arguments can supportably be set.

[2021-07-13 21:30] #2357 closed

[2021-07-14 05:43] jpeach opened #2363 "Stop using ':' in envoy resource names"
### Summary

Lots of the envoy admin pages format their state using ":"-separated fields. When we use ":" in our resource names, it becomes difficult to distinguish between fields.

Here's an example where I've hacked up a listener named `"8080/HTTP/edge-gateway"`:
[code]

Using the standard Kuma naming convention, this resource would be `"8080:HTTP:edge-gateway"`.

[2021-07-14 16:44] subnetmarco commented on #1942
@kumahq/kuma-maintainers any thoughts on this issue?

[2021-07-14 21:58] jpeach commented on #1942
Looks a bit like `kuma_io_zone` and `kuma_io_zones` are different metrics, but appear similar because there's only one zone?

[2021-07-14 22:52] austince commented on #1942
They are actually the same metric – the names are automatically "plural-ized" here: https://github.com/kumahq/kuma/blob/19d3b806b63edf388d9a690be3282555cf1d8f5c/pkg/mads/util.go#L29-L59

This was done by @ yskopets I believe, and am not sure if it is totally necessary. Whether we remove that feature is independent of this ask though, I think, which I would recommend as a "wont-fix" since it should

[2021-07-15 03:10] burntcarrot commented on #2313
@jpeach I would like to take this one if it's open. Would you prefer camel case or something else?

Just for a sanity check, can you tell me if there are any services dependent on the logger name?

[2021-07-15 05:25] jpeach commented on #2313
Great!

Lets stick with hyphen-separated-words.

Not AFAIK. Would be good to ping on the Kuma slack though.

[2021-07-15 06:21] jpeach opened #2374 "Failed to convert xds.RouteMap to JSON in log message"
### Summary

I was able to generate an inconsistent xDS snapshot and the xDS server emitted the following error log:

[code]

The error comes from this code:
[code]
If you unpack the JSON enough, you find that instead of the expected "proxy" field", there is  `"proxyError": "json: unsupported type: xds.RouteMap"`.

So this happens because for some reason the default JSON marshaler chokes on `xds.R

[2021-07-15 06:34] jpeach commented on #2374
From the [docs](https://pkg.go.dev/encoding/json#Marshal)

`OutboundInterface` implements `Stringer` but not `TextMarshaler`

[2021-07-15 22:28] jpeach opened #2376 "The deploy/example/minikube build target doesn't set up minikube properly"
### Summary

`make deploy/example/minikube` will only work properly if you first do `minikube start --vm-driver=docker --kubernetes-version=`. the circle-ci script does this, but the makefiles don't.

[2021-07-15 22:35] jpeach commented on #2376
Even once you start minikube manually, it still doesn't work because the image loading targets depend on something having already done a docker/save. Again, only CI does the right magic sequence of steps.

[2021-07-15 23:13] jpeach commented on #2313
I pinged this to the community slack. Let's give people a week to give feedback.

https://kuma-mesh.slack.com/archives/CN2GN4HE1/p1626390711062600

[2021-07-16 06:03] jpeach opened #2378 "proxy template validation ignores dynamically registered templates"
### Summary

The valid set of proxy template names is statically listed in `mesh.AvailableProfiles` and this is used to validate the ProxyTemplate resource (see `pkg/core/resources/apis/mesh/proxytemplate_validator.go`). However the actual set of profiles that is available is dynamic and a plugin can register new profiles with `generator.RegisterProfile`.

So for this to be consistent, ProxyTempla

[2021-07-17 01:16] jpeach commented on #2088
The embedded Go module for k8s/native was removed in #2360. Remaining modules are:
[code]

But you can't tidy the istio submodule
[code]

[2021-07-17 11:03] bdecoste opened #2391 "global kuma-cp params invalid if after the run command"
### Summary

The placement of kuma-cp run global parameters appears to matter:

`kuma-cp --log-output-path logs run --license-path=/home/ec2-user/license.json --config-file=./cp-config.json --log-level=debug`
is valid

[code]
is not valid

[2021-07-19 08:55] gerardborst commented on #2014
Hi @lobkovilya as far as I can see I agree with the 2 bullets. We have working cases with both. Maybe "Load Balancer will redirect traffic **_to_** this address"? But I'm not a native speaker.

I'm not sure about the patch. Is it not true that an interface can have several ip addresses? I think it is better to keep this explicit.

[2021-07-19 13:34] lobkovilya commented on #2014
Hi @gerardborst, I opened a PR against our kuma-docs repo, your review will be very much welcome! https://github.com/kumahq/kuma-website/pull/485

[2021-07-20 15:45] bdecoste opened #2400 "Add additional debug logging for api-server"
### Summary

Needed to debug the product and version returned to `kumactl generate dataplane-token ...`

[2021-07-21 11:36] bdecoste opened #2406 "Support transparent proxy mode in universal docker"
### Summary

I would like to be able to run transparent mode when I run Kuma in universal mode with docker components. One issue is conflicting docker and transparent iptables rules. The DNS configuration is another issue.

### Steps To Reproduce
[docker-compose.yaml.tar.gz](https://github.com/kumahq/kuma/files/6855271/docker-compose.yaml.tar.gz)

I have attached a docker-compose file for deployin

[2021-07-21 13:56] scottslowe opened #2407 "Outbound Envoy VIPs only listen on port 80"
### Summary

Kuma creates outbound Listeners for VIPs that represent Clusters. However, regardless of the traffic the Cluster is expecting or configured to receive, the VIP listens only on port 80.

For example, in a Kubernetes cluster running the Kuma demo app (installed via `kumactl install demo | kubectl apply -f -`), there is a VIP in the 240.x.x.x range for the Redis layer. The Redis cluster

[2021-07-21 20:18] scottslowe opened #2409 "Support wildcards/globbing in selectors"
Currently, the `sources` and `destinations` selectors support _either_ `"*"` (to represent any value) _or_ the full value of the specified tag. For example, when specifying a particular service as a source, one can use `"*"` _or_ `"name_namespace_svc_port"`, but one cannot use `"name_namespace_svc_*"` to capture _all_ matching instances of the specified tag.

There are a number of use cases where

[2021-07-21 22:01] #2014 closed

[2021-07-21 23:00] jpeach commented on #2400
The error message `WARNING: You are using kumactl version XXX, but the server returned version: YYY` comes from a server version pre-flight check in `kumactl`. This does a GET on '/' for the API server that it is configured for, and that GET request returns hostname, tagline(?) and version fields.

So in this case, any `kumactl` command ought to emit that warning as  long as it reaches the same in

[2021-07-22 01:02] jpeach commented on #1920
Bringing back some out of band discussion

* Kuma owns and depends on some of these flags, so allowing them to be set arbitrarily is risky for users
* The number of flags that users can reasonably want to set is quite low, and maybe not enough to justify the work involved in creating a new Kuma policy
*  Drain [strategies](https://www.envoyproxy.io/docs/envoy/latest/operations/cli#cmdoption-drain-

[2021-07-22 05:07] jpeach opened #2413 "Consider switching to cbroglie/mustache for templating"
### Summary

[cbroglie/mustache](https://github.com/cbroglie/mustache) is a fork of the [hoisie/mustache](https://github.com/hoisie/mustache) package that Kuma uses for configuration templating. It seems to be actively maintained and making stable releases.

[2021-07-22 05:10] jpeach commented on #2200
@jakubdyszkiewicz @lobkovilya Do we want to remove the `./api` module too? It's easy to do, but I wonder whether there are cases where it makes sense to import `github.com/kumahq/kuma/api` without dragging in the rest of Kuma?

[2021-07-22 05:46] jpeach commented on #2391
This works for me on current master. What version of Kuma are you seeing the problem with?

[code]

[code]

[2021-07-22 11:26] lahabana commented on #2004
Yes it's fixed thanks!

[2021-07-22 11:26] #2004 closed

[2021-07-22 11:31] lahabana commented on #2407
This feature will be part of a larger change which should enable users to set the correct ports: https://github.com/kumahq/kuma/pull/1978

@scottslowe  You can still reach your redis instance right? It's just on port 80 instead of 6379 isn't it?
If that's not the case there's a separate issue that may need investigations

[2021-07-22 11:38] lahabana commented on #2409
Are there cases where adding a separate tag to specify these groupings not possible?

There might be an underlying useful feature but I believe specific tags may be a possible workaround.

If we add this feature rather than prefix should we go with regular expressions?

[2021-07-22 11:51] lahabana commented on #1605
Going to close this it's better covered in #2320

[2021-07-22 11:51] #1605 closed

[2021-07-22 11:52] lahabana commented on #1737
This was fixed in #2246

[2021-07-22 11:52] #1737 closed

[2021-07-22 12:49] lahabana commented on #1752
Seems like it's indeed not feasible yet.
Should adding a `kuma.io/service` annotation to the k8s service (or the pod for serviceless pods).

[2021-07-22 13:19] lahabana opened #2417 "TrafficPermissions can shadow one another if the match the same destination"
@cpu601 pointed out that:
- with 3 service a, b and c.
- an existing policy:
[code]
- add a policy:
[code]

The second will take over the first one resulting in service `b` not able to communicate with service `a` anymore.

This has 2 issues:

1) There's a massive risk of users shooting themselves in the foot (create a new policy that breaks existing connections when they seem unrelated)
2) Should

[2021-07-22 15:21] scottslowe commented on #2407
@lahabana Yes, the Redis instance is reachable on port 80. For applications that allow target port to be adjusted, this isn't a problem, but when we run into an application that won't allow us to adjust the target port (for whatever reason) then this will become a major roadblock.

Thanks for the update on the larger change.

[2021-07-22 15:23] scottslowe commented on #2409
@lahabana Yes, I would suggest either a) a shell-like globbing mechanism, or b) a regex implementation.

In this particular instance, the use of other tags _may_ be a workaround, although it will impose/require additional work from the cluster operators.

[2021-07-22 21:58] jpeach commented on #2409
I think I'd prefer to avoid the complexity of regexes here (obligatory xkcd). It binds deployments to the precise construction of service names, and doesn't directly express user intent. I'd prefer that all the components of the constructed service name were directly available as matching tags.

Could this work:
[code]

[2021-07-22 21:59] jpeach commented on #1752
So the underlying request here is to set a consistent service name across zones?

[2021-07-22 22:05] jpeach commented on #2417
An inbound gets exactly 1 best-match TrafficPermission policy applied to it. So you can't apply both of these policies to same destination service at once (since it's inbound can only have 1 policy).